<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Header -->
  {% include 'html/header.html' %}
</head>

<body>
  <div class="mainFont container-fluid">
    <div class="row">

      <!-- SideNavbar -->
      {% include 'html/sidenav.html' %}

      <div class="col-md-2"></div>

      <!-- Athlete_T -->
      <div class="col-md-9" style="padding-top: 10px;">
        <div style="display: flex; width: 75vh;">
          <h1 class="mainFont" style="padding-bottom: 10px; padding-right: 8%;">Athletes</h1>
          <i class="fa-solid fa-magnifying-glass" style="align-self: center; scale: 1.3;"></i>
          &nbsp;
          &nbsp;
          <form method="GET" action="{% url 'AthletesDash' %}">
            <input type="text" class="searchbar" placeholder="Search..." name="q">
          </form>
          <a href="/athletes"><button type="button" class="kpidatabtn">Refresh</button></a>
        </div>
        <table class="table mainFont">
        <thead>
            <tr>
              <th scope="col" style="background-color: #242C3D;" >First Name</i></th>
              <th scope="col">Last Name</th>
              <th scope="col" style="background-color: #242C3D;" >Sports Team</i></th>
              <th scope="col">Position</th>
              <th scope="col" style="background-color: #242C3D;" >Year</th>
              <th scope="col">Height (ft)</th>
              <th scope="col" style="background-color: #242C3D;" >Weight (lbs)</th>
            </tr>
          </thead>
          <tbody class="table-group-divider" >
            {% for AthleteT in athletes %}
            <tr>
                <td style="background-color: #242C3D;" ><a href="{% url 'AthleteProf' AthleteT.fname AthleteT.lname AthleteT.dob %}">{{ AthleteT.fname }}</a></td>
                <td><a href="{% url 'AthleteProf' AthleteT.fname AthleteT.lname AthleteT.dob %}">{{ AthleteT.lname }}</a></td>
                <td style="background-color: #242C3D;" >{{ AthleteT.sportsteam }}</td>
                <td>{{ AthleteT.position }}</td>
                <td style="background-color: #242C3D;" >{{ AthleteT.year }}</td>
                <td>{{ AthleteT.height }}</td>
                <td style="background-color: #242C3D;" >{{ AthleteT.weight }}</td>
            </tr>
            {% endfor %}
        </table>
      </div>

      <!-- View Toggle -->
      <div class="col-md-1">
        <div style="display: flex; justify-content: space-evenly; margin-top: 20px;">
          <a href="/athletes" class="toggle"><h3 style="color: #F2CD49;"><i class="fa-solid fa-bars"></i></h3></a>
          <a href="/athletes" class="toggle"><h3 style="color: #F2CD49;"><i class="fa-solid fa-square"></i></h3></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>