<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Header -->
  {% include 'html/header.html' %}
</head>

<body>
  <!-- SideNavbar -->
  {% include 'html/sidenav.html' %}

  <main class="py-3">

    <div class="main-header" style="gap: 25px;">
      <h1>Athletes</h1>

      <div class="input-box" style="width: 250px;">
        <form method="GET" action="{% url 'AthletesDash' %}">
          <input type="text" class="form-control" placeholder="Search" name="q">
          <i class="fa fa-search"></i>
        </form>
      </div>

      <a href="/athletes"><button type="button" class="submit">Clear Search</button></a>

    </div>

    <!-- Athlete_T -->
    <div class="d-flex">

      <table class="table table-dark table-striped table-hover table-customs">
        <thead>
          <tr>
            <th scope="col">First Name</i></th>
            <th scope="col">Last Name</th>
            <th scope="col">Sports Team</i></th>
            <th scope="col">Position</th>
            <th scope="col">Year</th>
            <th scope="col">Height (in)</th>
            <th scope="col">Gender</th>
          </tr>
        </thead>
        <tbody>
          {% for AthleteT in athletes %}
          <tr>
            <td><a href="{% url 'AthleteProf' AthleteT.fname AthleteT.lname AthleteT.dob %}">{{ AthleteT.fname }}</a>
            </td>
            <td><a href="{% url 'AthleteProf' AthleteT.fname AthleteT.lname AthleteT.dob %}">{{ AthleteT.lname }}</a>
            </td>
            <td>{{ AthleteT.sportsteam }}</td>
            <td>{{ AthleteT.position }}</td>
            <td>{{ AthleteT.year }}</td>
            <td>{{ AthleteT.height }}</td>
            <td>{{ AthleteT.gender }}</td>
          </tr>
          {% endfor %}
      </table>

      <div style="position: fixed; right:0; top:0; margin-right: 40px; padding-top: 40px; height: 100vh; width: 60px;">

        <div style="display: flex; justify-content: space-between;">
          <a href="/athletes" class="toggle"><i class="fa-solid fa-bars " style="color: var(--yellow-accent); font-size: 25px;"></i></a>
          <a href="/athletes" class="toggle"><i class="fa-solid fa-square" style="color: var(--yellow-accent); font-size: 25px;"></i></a>
        </div>
    
        <div style="position: fixed; bottom: 0; padding-bottom: 40px;">
          <a href="/addathlete" >
            <i class="fa-solid fa-circle-plus" style="color: var(--yellow-accent); font-size: 60px;"></i>
          </a>
        </div>
        
      </div>

    </div>
  </main>

</body>
</html>