<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Header -->
    {% include 'html/header.html' %}
</head>

<body>

    <!-- SideNavbar -->
    {% include 'html/sidenav.html' %}

    <!-- HTML Templates for KPI Trends and Bar Graphs -->
    <!-- See "kpi_ajax()" below for context -->
    <div class="hide-template">
        <div id="bar-template">
            <h3 id="tname"></h3>
            <img id="tgraph" style="width: 100%; height: auto;">
        </div>
        <div id=trend-template>
            <div class="d-flex justify-content-between align-items-center kpi-img">
                <div id="kpi-name" style="width: 25%;">
                    <p></p>
                </div>
                <div id="kpi-change" class="d-flex align-items-center justify-content-center"
                    style="width: 25%; gap: 10px;"><i id="kpi-arrow"></i></div>
                <div style="width: 50%;">
                    <img id="kpi-graph">
                    <div class="d-flex justify-content-between align-items-center">
                        <p id="kpi-date-1"></p>
                        <p id="kpi-date-2"></p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <main class="py-3 py-override">
        <div class="container" style="max-width: 1800px;">
            <div class="row">
                <div class="col-lg-5 overflow-scroll col-padding">
                    <div class="col-scroll">

                        <!-- Athlete Info/Header -->
                        <div class="main-header justify-content-between">
                            <div class="d-flex align-items-center" style="gap: 15px;">
                                <h1
                                    style="position: fixed; background-color: var(--color-bg); border-radius: 0px 5px 5px 0px; padding: 5px;">
                                    {{ athleteProf.fname }} {{ athleteProf.lname }}</h1>
                            </div>
                            <div class="justify-content-between">
                                <label for="id_image">
                                    <i class="fa-solid fa-camera"
                                        style="color: var(--acc-color-main); font-size: var(--icon-size); cursor: pointer;"></i>
                                </label>
                                &nbsp;
                                <a
                                    href="{% url 'EditAthlete' athleteProf.fname athleteProf.lname athleteProf.dob athleteProf.id %}">
                                    <i class="fa-solid fa-pen"
                                        style="color: var(--acc-color-main); font-size: var(--icon-size);"></i>
                                </a>
                            </div>
                        </div>

                        <!-- Hidden Input Field to change an image -->
                        <form method="post" enctype="multipart/form-data" style="display: none;" id="imgForm">
                            {% csrf_token %}
                            {{ form.image }}
                        </form>

                        <div class="d-flex">

                            {% if athleteProf.image == '' %}
                            <img class="athlete-pic" src="/media/placeholder.jpg" id="profileImg"></img>
                            {% elif athleteProf.image %}
                            <img class="athlete-pic" src="/media/{{ athleteProf.image }}" id="profileImg"></img>
                            {% endif %}

                            <div class="w-100" style="margin-left: var(--inner-padding);">
                                <div class="d-flex justify-content-between">
                                    <h6>Sport</h6>
                                    <h6 class="text-end">{{ athleteProf.sportsteam }}</h6>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <h6>Position</h6>
                                    <h6 class="text-end">{{ athleteProf.position }}</h6>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <h6>Year</h6>
                                    <h6 class="text-end">{{ athleteProf.year }}</h6>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <h6>Height</h6>
                                    <h6 class="text-end">{{ athleteProf.height }}"</h6>
                                </div>
                            </div>
                        </div>

                        <!-- KPI/Wellness Tabs-->
                        <div class="d-flex" style="margin-top: var(--inner-padding);">
                            <button id="kpi-tab" class="report-tab">KPI</button>
                            <button id="wellness-tab" class="report-tab">Wellness</button>
                        </div>

                        <script>
                            //jQuery for kpi and wellness "tabs", allowing only one or the other to be shown
                            //at a given time
                            $(document).ready(function () {

                                //initially hide wellness report and show only kpi trends
                                $("#wellnessreport").hide();
                                document.getElementById("wellness-tab").style.backgroundColor = "var(--color-tertiary)";

                                //upon click of wellness tab, show wellnessreport div & hide kpireport div
                                //swap color of tab
                                $("#wellness-tab").click(function () {
                                    $("#kpireport").hide();
                                    $("#wellnessreport").show();
                                    document.getElementById("wellness-tab").style.backgroundColor = "var(--color-secondary)";
                                    document.getElementById("kpi-tab").style.backgroundColor = "var(--color-tertiary)";
                                });

                                //upon click of kpi tab, show kpireport div & hide wellnessreport div
                                //swap color of tab
                                $("#kpi-tab").click(function () {
                                    $("#kpireport").show();
                                    $("#wellnessreport").hide();
                                    document.getElementById("kpi-tab").style.backgroundColor = "var(--color-secondary)";
                                    document.getElementById("wellness-tab").style.backgroundColor = "var(--color-tertiary)";
                                });
                            });
                        </script>

                        <!-- KPI Trends -->
                        <div id="kpireport" class="report tab-corner bottom-margin">

                            <div class="d-flex justify-content-between align-items-center">
                                <div style="width: 50%">
                                    <h3>KPI Trends</h3>
                                </div>
                                <div class="d-flex justify-content-between" style="width: 50%;">
                                    <p style="font-size: 16px" id="resultone"></p>
                                    <p style="font-size: 16px" id="resulttwo"></p>
                                </div>
                            </div>
                            <hr>

                            <!-- This is where graphs will populate -->
                            <div id="kpi-trend">
                                <p id="no-data" style="margin-bottom: 0;">No data</p>
                            </div>

                            <a href="{% url 'AddKPI' athleteProf.fname athleteProf.lname athleteProf.dob %}">
                                <button class="spanning-button" style="margin-top: var(--inner-padding);">Add
                                    KPI</button>
                            </a>

                        </div>

                        <div id="wellnessreport" class="report tab-corner" style="display: none;">

                            <!-- Wellness Header & Date Selector -->
                            <div class="d-flex justify-content-between">
                                <h3>Wellness</h3>
                                <form method="post" id="wellnessform">
                                    {% csrf_token %}
                                    <div class="d-flex justify-content-between">
                                        <select id="wellnessdate" name="wellnessdate">
                                            <option selected>{{ mostRecentWellnessReportDate }}</option>
                                            {% for x in wellnessReportDates %}
                                            <option>{{ x.date }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </form>
                            </div>

                            <!-- Wellness Display -->
                            <div style="margin-top: var(--inner-padding);">
                                <div class="d-flex">
                                    <div id="stat-box" class="w-100 wellness-status-display"
                                        style="margin-right: calc(var(--inner-padding)/2);">
                                        <div class="d-flex justify-content-center">
                                            <h4 id="stat">None</h4>
                                        </div>
                                    </div>
                                    <div class="w-100 wellness-status-display"
                                        style="margin-left: calc(var(--inner-padding)/2); border: 1px solid white;">
                                        <div class="d-flex justify-content-center">
                                            <h4 id="total">None</h4>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: var(--inner-padding);">
                                    <table class="table wellness-table"
                                        style="border-color: rgba(255, 255, 255, 0.321); color: white;">
                                        <tr>
                                            <td>
                                                <h6>Hours of Sleep</h6>
                                                <h6 id="hrs_sleep"></h6>
                                            </td>
                                            <td>
                                                <h6>Sleep Quality</h6>
                                                <h6 id="sleep_qual"></h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6>Breakfast</h6>
                                                <h6 id="breakfast"></h6>
                                            </td>
                                            <td>
                                                <h6>Hydration</h6>
                                                <h6 id="hydration"></h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6>Soreness</h6>
                                                <h6 id="soreness"></h6>
                                            </td>
                                            <td>
                                                <h6>Stress</h6>
                                                <h6 id="stress"></h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-bottom: none;">
                                                <h6>Mood</h6>
                                                <h6 id="mood"></h6>
                                            </td>
                                            <td style="border-bottom: none;">
                                                <h6><strong>Total</strong></h6>
                                                <h6 id="wellness_total"></h6>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <a href="{% url 'AddWellness' athleteProf.fname athleteProf.lname athleteProf.dob %}">
                                <button class="spanning-button" style="margin-top: 20px;">Add Wellness Report</button>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="col-lg-7 overflow-scroll col-padding">
                    <div class="col-scroll">

                        <!-- Date Selector + Settings-->
                        <div class="main-header justify-content-between" style="padding-top: var(--inner-padding)">
                            <form method="post" id="kpiform" name="kpiform">
                                {% csrf_token %}
                                <div id="kpi-dates-div">
                                    <select id="date1" name="date1" style="font-size:20px;">
                                        <option selected>{{ kpi_earliest }}</option>
                                        {% for x in all_dates %}
                                        <option>{{ x.datekpi }}</option>
                                        {% endfor %}
                                    </select>
                                    to
                                    <select id="date2" name="date2" style="font-size:20px;">
                                        <option selected>{{ kpi_most_recent }}</option>
                                        {% for x in all_dates %}
                                        <option>{{ x.datekpi }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="radar-date-div" style="display: none;">
                                    <select id="radar_date" name="radar_date" style="font-size:20px;">
                                        <option selected>{{ kpi_most_recent }}</option>
                                        {% for x in all_dates %}
                                        <option>{{ x.datekpi }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                            <div class="d-flex align-items-center" style="gap:var(--inner-padding); margin-top: 10px;">
                                <!-- Bar/Spider Chart Tabs-->
                                <div class="d-flex h-100">
                                    <button id="bar-tab" class="report-tab"
                                        style="padding-top: 16px; padding-bottom: 16px;">Bar
                                        Chart</button>
                                    <button id="spider-tab" class="report-tab">Spider
                                        Chart</button>
                                    <button id="z-scores-tab" class="report-tab">Z-Scores</button>
                                </div>
                                <i class="fa-solid fa-gear" id="settings"
                                    style="color: var(--acc-color-main); font-size: var(--icon-size); z-index: 2;"></i>

                                <div id="options-card" class="options-card overflow-scroll" style="display: none;">
                                    <h4>Settings</h4>
                                    <ul>
                                        <li>Show Team Avg<input id="i-show_fullname" type="checkbox" checked="true">
                                        </li>
                                        <li>Show Gender Avg<input id="i-show_trends" type="checkbox" checked="true">
                                        </li>
                                        <li>Show Position Avg<input id="i-show_pos" type="checkbox" checked="true"></li>
                                    </ul>
                                    <hr>
                                    <ul id="test-list"></ul>
                                </div>
                            </div>
                        </div>

                        <script>
                            //jQuery for kpi and wellness "tabs", allowing only one or the other to be shown
                            //at a given time
                            $(document).ready(function () {

                                //initially hide wellness report and show only kpi trends
                                $("#bar-graphs").show();
                                document.getElementById("spider-tab").style.backgroundColor = "var(--color-tertiary)";
                                document.getElementById("z-scores-tab").style.backgroundColor = "var(--color-tertiary)";

                                //upon click of wellness tab, show wellnessreport div & hide kpireport div
                                //swap color of tab
                                $("#spider-tab").click(function () {
                                    $("#bar-graphs").hide();
                                    $("#z-scores").hide();
                                    $("#kpi-dates-div").hide();

                                    $("#radar-date-div").show();
                                    $("#spider-graphs").show();

                                    document.getElementById("spider-tab").style.backgroundColor = "var(--color-secondary)";
                                    document.getElementById("bar-tab").style.backgroundColor = "var(--color-tertiary)";
                                    document.getElementById("z-scores-tab").style.backgroundColor = "var(--color-tertiary)";
                                });

                                //upon click of kpi tab, show kpireport div & hide wellnessreport div
                                //swap color of tab
                                $("#bar-tab").click(function () {
                                    $("#spider-graphs").hide();
                                    $("#z-scores").hide();
                                    $("#kpi-dates-div").show();
                                    $("#radar-date-div").hide();
                                    $("#bar-graphs").show();
                                    document.getElementById("bar-tab").style.backgroundColor = "var(--color-secondary)";
                                    document.getElementById("spider-tab").style.backgroundColor = "var(--color-tertiary)";
                                    document.getElementById("z-scores-tab").style.backgroundColor = "var(--color-tertiary)";
                                });

                                //upon click of kpi tab, show kpireport div & hide wellnessreport div
                                //swap color of tab
                                $("#z-scores-tab").click(function () {
                                    $("#spider-graphs").hide();
                                    $("#bar-graphs").hide();
                                    $("#kpi-dates-div").show();
                                    $("#radar-date-div").hide();
                                    $("#z-scores").show();
                                    document.getElementById("z-scores-tab").style.backgroundColor = "var(--color-secondary)";
                                    document.getElementById("bar-tab").style.backgroundColor = "var(--color-tertiary)";
                                    document.getElementById("spider-tab").style.backgroundColor = "var(--color-tertiary)";
                                });

                                // upon click of cog wheel "settings", show the options card
                                // if it's already showing, close it. functions as a toggle
                                $("#settings").click(function () {
                                    if ($('#options-card').is(':hidden')) {
                                        $("#options-card").show();
                                    } else {
                                        $("#options-card").hide();
                                    }

                                });
                            });
                        </script>

                        <div id="z-scores" class="graphprof">
                            <p style="margin-bottom: 0; align-self: center;">No data</p>
                        </div>

                        <div id="spider-graphs" class="graphprof">
                            <!-- Radar/Spider Graph -->
                            <form method="post" id="kpi_radar_form">
                                {% csrf_token %}

                                <form method="post" >
                                    {% csrf_token %}

                                    <div id="selected_radar_tests">
                                        {% for test in all_tests %}
                                        <input type="checkbox" id="{{ test }}" name="selected_radar_tests" value="{{ test }}">
                                        <label for="{{ test }}">{{ test }}</label><br>
                                        {% endfor %}
                                    </div>

                                    <hr>

                                    <div id="spider-avgs"> 
                                        <input type="checkbox" id="team_avg" name="compare_avg" value="team_avg">
                                        <label for="team_avg">Team Avg</label><br>

                                        <input type="checkbox" id="position_avg" name="compare_avg" value="position_avg">
                                        <label for="position_avg">Position Avg</label><br>

                                        <input type="checkbox" id="gender_avg" name="compare_avg" value="gender_avg">
                                        <label for="gender_avg">Gender Avg</label><br>
                                        <br>
                                        <input type="submit" id="radar-submit" class="submit">
                                    </div>
                                </form>
                            </form>

                            <script>
                                /* getCookie() function definition*/
                                // Definition for "getCookie" function, which will return a cookie from the document matching the parameter "name".
                                // This is a utility funciton utilized to send and AJAX request (see next code block)

                                // Cookie is initialized to null
                                // If there is are document cookies and they are NOT empty, the cookies in the document are fetched and placed in an array
                                // This array is searched for a cookie that matches parameter "name"
                                // If such a cookie is found, it is returned.
                                function getCookie(name) {
                                    let cookieValue = null;
                                    if (document.cookie && document.cookie !== "") {
                                        const cookies = document.cookie.split(";");
                                        for (let i = 0; i < cookies.length; i++) {
                                            const cookie = cookies[i].trim();
                                            // Does this cookie string begin with the name we want?
                                            if (cookie.substring(0, name.length + 1) === (name + "=")) {
                                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                break;
                                            }
                                        }
                                    }

                                    return cookieValue;
                                }

                                document.getElementById("radar-submit").addEventListener("click", spider_ajax, false);

                                function spider_ajax(event) {
                                    event.preventDefault();

                                    // Values to be passed to backend
                                    const radar_date = document.getElementById("radar_date").value;
                                    const test_selection = document.getElementById("selected_radar_tests");
                                    const avg_selection = document.getElementById("spider-avgs");

                                    // Select checkboxes 
                                    const t_checkboxes = test_selection.querySelectorAll('input[type="checkbox"]');
                                    const a_checkboxes = avg_selection.querySelectorAll('input[type="checkbox"]');

                                    // Filter the checkboxes to only include those that are checked
                                    const t_checked = Array.from(t_checkboxes ).filter(checkbox => checkbox.checked);
                                    const a_checked = Array.from(a_checkboxes).filter(checkbox => checkbox.checked);
  
                                    // Get the values of the checked checkboxes
                                    const selected_tests = t_checked.map(checkbox => checkbox.value);
                                    const selected_avgs = a_checked.map(checkbox => checkbox.value);

                                    $.ajax({
                                        url: "{% url 'AthleteProf' athleteProf.fname athleteProf.lname athleteProf.dob athleteProf.id %}",
                                        type: "POST",
                                        dataType: "json",
                                        data: JSON.stringify({ "radar_date": radar_date, "selected_radar_tests": selected_tests, "compare_avg": selected_avgs }),
                                        headers: {
                                            "X-Requested-With": "XMLHttpRequest",
                                            "X-CSRFToken": getCookie("csrftoken"),
                                        },
                                        success: (response) => {

                                            const chart = response.radar_chart;

                                            document.getElementById("spider-graphs").innerHTML += chart;

                                            //const max_y = Math.max(...response.athlete_radar_results);
                                            /*data = [{
                                                type: 'scatterpolar',
                                                r: response.athlete_radar_results,
                                                theta: selected_tests,
                                                fill: 'toself'
                                                }]

                                            layout = {
                                            polar: {
                                                radialaxis: {
                                                visible: true,
                                                range: [0, max_y]
                                                },
                                                bgcolor: "#181a20",
                                                color: '#ffffff'
                                            },
                                            showlegend: false,
                                            paper_bgcolor: "#181a20",
                                            
                                            }
                                            

                                            Plotly.newPlot("spider-graphs", data, layout)*/
                                        }
                                    })
                                }

                            </script>
                        </div>

                        <!-- This is where bar graphs will populate -->
                        <div id="bar-graphs" class="graphprof">
                            <p id="no-data" style="margin-bottom: 0; align-self: center;">No data</p>
                        </div>

                        <script>

                            //on window load, call ajax to populate page with data
                            window.onload = function () {

                                //if there are kpis or wellness reports, submit an ajax request to get data on page load
                                var kpi_count = "{{ kpi_count }}";
                                var wellness_count = "{{ wellness_count }}";

                                if (kpi_count > 0)
                                    kpi_ajax();
                                if (wellness_count > 0)
                                    wellness_ajax();

                                // if a date selector changes, call ajax to update the page
                                document.getElementById("date1").addEventListener("change", kpi_ajax);
                                document.getElementById("date2").addEventListener("change", kpi_ajax);

                                //if a date selector changes, call ajax to update the page 
                                document.getElementById("wellnessdate").addEventListener("change", wellness_ajax);

                                // if img upload changes... 
                                document.getElementById("id_image").addEventListener("change", imgChange);

                                //set dates on kpi-report div to the ones initially selected
                                document.getElementById("resultone").innerHTML = "{{ kpi_earliest }}";
                                document.getElementById("resulttwo").innerHTML = "{{ kpi_most_recent }}";
                            }

                            /* getCookie() function definition*/
                            // Definition for "getCookie" function, which will return a cookie from the document matching the parameter "name".
                            // This is a utility funciton utilized to send and AJAX request (see next code block)

                            // Cookie is initialized to null
                            // If there is are document cookies and they are NOT empty, the cookies in the document are fetched and placed in an array
                            // This array is searched for a cookie that matches parameter "name"
                            // If such a cookie is found, it is returned.
                            function getCookie(name) {
                                let cookieValue = null;
                                if (document.cookie && document.cookie !== "") {
                                    const cookies = document.cookie.split(";");
                                    for (let i = 0; i < cookies.length; i++) {
                                        const cookie = cookies[i].trim();
                                        // Does this cookie string begin with the name we want?
                                        if (cookie.substring(0, name.length + 1) === (name + "=")) {
                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                            break;
                                        }
                                    }
                                }
                                return cookieValue;

                            }

                            // stops form from resubmitting when page is refreshed to show 
                            if (window.history.replaceState) {
                                window.history.replaceState(null, null, window.location.href);
                            }

                            // submit the form to change database, and refresh the page to show new profile image       
                            function imgChange() {
                                document.getElementById("imgForm").submit();
                                document.getElementById("imgForm").reset();
                            }

                            // hides/shows tests when their corresponding checkmark in the options tab is checked/unchecked
                            function hide_tests() {
                                document.querySelectorAll("[type=checkbox]").forEach(checkbox => {
                                    checkbox.addEventListener("click", function (e) {

                                        // get id of this checkbox
                                        id = this.id;
                                        console.log(id);
                                        if (this.checked) {

                                            // concatenate respective ids of bar and trend graphs
                                            $("#bar_" + id).show();
                                            $("#trend_" + id).show();
                                        }
                                        else {
                                            // concatenate respective ids of bar and trend graphs
                                            $("#bar_" + id).hide();
                                            $("#trend_" + id).hide();
                                        }
                                        e.stopPropagation();
                                    })
                                })
                            }

                            // global variables to create a lockout when an AJAX request has been made
                            // ensures multiple AJAX requests can't be sent at the same time, which would 
                            // result in jumbled data
                            let is_loading_kpi = false;
                            let is_loading_wellness = false;

                            //grabs info from the database without refreshing page and screwing everything up
                            function kpi_ajax() {

                                if (!is_loading_kpi) {

                                    // AJAX function has been called! No other calls can be made until this one finishes
                                    is_loading_kpi = true;

                                    // get dates from selectors
                                    var date_one = document.getElementById("date1")
                                    var date_two = document.getElementById("date2")

                                    resultone.innerText = date_one.options[date_one.selectedIndex].text;
                                    resulttwo.innerText = date_two.options[date_two.selectedIndex].text;

                                    // clear trends and graphs 
                                    $("#kpi-trend").empty()
                                    $("#bar-graphs").empty()

                                    // add loading circle
                                    $("#kpi-trend").append("<div id=\"loading-line\" class=\"d-flex justify-content-center\"> <div class=\"lds-dual-ring\"></div></div>");
                                    $("#bar-graphs").append("<div id=\"loading-bar\" class=\"d-flex justify-content-center\"> <div class=\"lds-dual-ring\"></div></div>");

                                    $.ajax({
                                        url: "{% url 'AthleteProf' athleteProf.fname athleteProf.lname athleteProf.dob athleteProf.id %}",
                                        type: "POST",
                                        dataType: "json",
                                        data: JSON.stringify({ date1: date_one.value, date2: date_two.value }),
                                        headers: {
                                            "X-Requested-With": "XMLHttpRequest",
                                            "X-CSRFToken": getCookie("csrftoken"),
                                        },
                                        success: (response) => {

                                            //shows info being passed from backend
                                            console.log(response);

                                            //remove loading circle after info arrives from db
                                            $("#loading-line").remove()
                                            $("#loading-bar").remove()

                                            //loop thru each test type and get its info
                                            for (var key in response.test_types) {

                                                let bar_template = document.getElementById("bar-template").cloneNode(true);
                                                let trend_template = document.getElementById("trend-template").cloneNode(true);

                                                // If the change is increasing
                                                if (response.changes[key] > 0) {
                                                    // If a minimum score is better for a test, the change is increasing and is red
                                                    if (response.minBetter[key] === true)
                                                        trend_template.querySelector("#kpi-change").style.color = "var(--acc-color-neg)";
                                                    // If a minimum score is NOT better for a test, the change is increasing and is green
                                                    else if (response.minBetter[key] === false)
                                                        trend_template.querySelector("#kpi-change").style.color = "var(--acc-color-pos)";

                                                    // Add correctly oriented arrow icon
                                                    trend_template.querySelector("#kpi-arrow").setAttribute("class", "fa-solid fa-arrow-up");
                                                }
                                                // If the change is decreasing
                                                else if (response.changes[key] < 0) {
                                                    // If a minimum score is better for a test, the change is decreasing and is green
                                                    if (response.minBetter[key] === true)
                                                        trend_template.querySelector("#kpi-change").style.color = "var(--acc-color-pos)";
                                                    // If a minimum score is NOT better for a test, the change is decreasing and is red
                                                    else if (response.minBetter[key] === false)
                                                        trend_template.querySelector("#kpi-change").style.color = "var(--acc-color-neg)";

                                                    // Add correctly oriented arrow icon
                                                    trend_template.querySelector("#kpi-arrow").setAttribute("class", "fa-solid fa-arrow-down");
                                                }

                                                // Append the actual change value (in absolute form so there is no -)
                                                trend_template.querySelector("#kpi-change").append(Math.abs(response.changes[key]));

                                                // Construct URL for line graph and add path to this node's img tag
                                                var line_graphURL = "data:image/png;base64, " + response.kpi_line[key];
                                                trend_template.querySelector("#kpi-graph").setAttribute("src", line_graphURL);

                                                // Fill in name and dates for this KPI trend
                                                trend_template.querySelector("#kpi-name").innerText = response.test_types[key];
                                                trend_template.querySelector("#kpi-date-1").innerText = response.Date1_results[key];
                                                trend_template.querySelector("#kpi-date-2").innerText = response.Date2_results[key];

                                                // Construct URL for bar graph and add path to this node's img tag
                                                var bar_graphURL = "data:image/png;base64, " + response.kpi_bar[key];
                                                bar_template.querySelector("#tname").innerText = response.test_types[key];
                                                bar_template.querySelector("#tgraph").setAttribute("src", bar_graphURL);

                                                // Give both graphs for each type an integer ID that will allow them to be maniuplated later
                                                trend_template.setAttribute("id", "trend_" + key);
                                                bar_template.setAttribute("id", "bar_" + key);

                                                // Add this completed graph template to the div containing all graphs
                                                $("#kpi-trend").append(trend_template);
                                                //$("#kpi-trend").append("<hr>");
                                                $("#bar-graphs").append(bar_template);

                                                var checkid = /*"check_" +*/ key;

                                                document.getElementById("test-list").innerHTML += "<li>" + response.test_types[key] + "<input type=\"checkbox\" id=\"" + checkid + "\" checked=\"true\"></li>";

                                                //document.getElementById(checkid).addEventListener("change", function() { update_graph_display(key) });
                                            }
                                            hide_tests();
                                            // AJAX call is done, so another one can go
                                            is_loading_kpi = false;
                                        },
                                        error: (error) => {
                                            console.log("Error processing KPI request: " + error);

                                            // AJAX call is done, so another one can go
                                            is_loading_kpi = false;
                                        }
                                    })
                                }
                                else
                                    alert("Dates changed too quickly! Please wait for this request to finish and try again.");
                            }

                            /* When the "#wellnessform" form is submitted, this function will send an AJAX request to fetch the new data. */
                            function wellness_ajax() {

                                if (!is_loading_wellness) {

                                    is_loading_wellness = true;

                                    // Get value of #sportsteam
                                    var date_selected = document.getElementById("wellnessdate").value

                                    // Send "POST" AJAX request to url 'AthleteProf'
                                    // This request will be handled by the Django backend -> see views.py recordKPI() for that code
                                    $.ajax({
                                        //URL needs to be fname, lname, DOB for athletes
                                        url: "{% url 'AthleteProf' athleteProf.fname athleteProf.lname athleteProf.dob athleteProf.id %}",
                                        type: "POST",
                                        dataType: "json",
                                        data: JSON.stringify({ wellnessdate: date_selected, }),
                                        headers: {
                                            "X-Requested-With": "XMLHttpRequest",
                                            "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
                                        },
                                        success: (response) => {

                                            console.log(response);

                                            // Get individual values needed for wellness total and then sum them
                                            var hoursofsleep = Number(response.wellness[0].hoursofsleep);
                                            var sleepquality = Number(response.wellness[0].sleepquality);
                                            var breakfast = Number(response.wellness[0].breakfast);
                                            var hydration = Number(response.wellness[0].hydration);
                                            var soreness = Number(response.wellness[0].soreness);
                                            var stress = Number(response.wellness[0].stress);
                                            var mood = Number(response.wellness[0].mood);

                                            document.getElementById("hrs_sleep").innerText = hoursofsleep;
                                            document.getElementById("sleep_qual").innerText = sleepquality;
                                            document.getElementById("breakfast").innerText = breakfast;
                                            document.getElementById("hydration").innerText = hydration;
                                            document.getElementById("soreness").innerText = soreness;
                                            document.getElementById("stress").innerText = stress;
                                            document.getElementById("mood").innerText = mood;

                                            var total = hoursofsleep + sleepquality + breakfast + hydration + soreness + stress + mood;
                                            var status = response.wellness[0].status;

                                            // Update total & readiness in document
                                            document.getElementById("wellness_total").innerText = total;
                                            document.getElementById("stat").innerHTML = status;
                                            document.getElementById("total").innerHTML = "Readiness: " + total;

                                            if (status == "Out") {
                                                document.getElementById("stat-box").style.color = "var(--black-text)";
                                                document.getElementById("stat-box").style.backgroundColor = "var(--acc-color-neg)";
                                            }
                                            else if (status == "Good") {
                                                document.getElementById("stat-box").style.color = "var(--black-text)";
                                                document.getElementById("stat-box").style.backgroundColor = "var(--acc-color-pos)";
                                            }

                                            is_loading_wellness = false;

                                        },
                                        error: (error) => {

                                            console.log(error);
                                            alert("Error processing Wellness request: " + error);
                                            is_loading_wellness = false;
                                        }
                                    })
                                }
                                else
                                    alert("Date changed too quickly! Please wait for this request to finish and try again.");
                            }

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>