<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Header -->
  {% include 'html/header.html' %}
</head>

<body>

  <div class="mainFont container-fluid">
    <div class="row">

      <!-- SideNavbar -->
      {% include 'html/sidenav.html' %}
    
      <div class="col-md-2"></div>

      <!-- Athlete Profile -->
      <div class="col-md-3" style="padding-top: 10px;">
        <div style="position: fixed; width: inherit;">
          <h1 class="mainFont" style="padding-bottom: 10px; padding-right: 8%;">{{ athleteProf.fname }} {{ athleteProf.lname }}</h1>
          <div class="athprof">
            <img class="athpic" src="/staticfiles/images/{{ athleteProf.image }}" style="width: fill;"/>
            
            <div style="display: flex; flex-direction: column; justify-content: space-evenly; width: 60%;">
                <div style="display: flex; justify-content: space-between;">
                    <h6>Sport</h6> <h6>{{ athleteProf.sportsteam }}</h6>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <h6>Position</h6> <h6>{{ athleteProf.position }}</h6>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <h6>Year</h6> <h6>{{ athleteProf.year }}</h6>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <h6>Height</h6> <h6>{{ athleteProf.height }}</h6>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <h6>Weight</h6> <h6>{{ athleteProf.weight }}</h6>
                </div>
            </div>
          </div>

          <div class="athprof" style="flex-direction: column;">
            <div style="display: flex; justify-content: space-evenly;">
                <h5>KPI Trend Report</h5>
                <form style="font-size: 10px;" method="post" id="form">
                    {% csrf_token %}
                    <select id="date1" name="date1">
                        <option disabled hidden selected>Select Date</option>
                        {% for x in all_dates %}
                        <option>{{ x.datekpi }}</option>
                        {% endfor %}
                    </select> 
                    to   
                    <select id="date2" name="date2">
                        <option disabled hidden selected>Select Date</option>
                        {% for x in all_dates %}
                        <option>{{ x.datekpi }}</option>
                        {% endfor %}
                    </select> 
                    <input type="submit" value="submit" class="submit">
                </form>
            </div>
            {% if testType %}
            <div style="display: flex;" class="kpireport">
                <div style="display: flex; justify-content: space-evenly; flex-direction: column; width: inherit;">
                    {% for x in testType %}
                        {% if x.testtype == "10yd Sprint" %}
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                        <p>{{ x.testtype }}</p>
                            {% if TenYd_y %}
                                <p id="tenydchange"></p>
                                <img src="data:image/png;base64, {{TenYd_chart_line|safe}}">
                            {% else %}
                                <p>No Data Selected...</p>
                            {% endif %}
                        </div>
                        <hr style="width: 100%; opacity: 20%;">
                        {% endif %}

                        {% if x.testtype == "Barbell Bench Press 1RM" %}
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                        <p>{{ x.testtype }}</p>
                            {% if Bench1RM_y %}
                                <p id="bench1rmchange"></p>
                                <img src="data:image/png;base64, {{Bench1RM_chart_line|safe}}">
                            {% else %}
                                <p>No Data Selected...</p>
                            {% endif %}
                        </div>
                        <hr style="width: 100%; opacity: 20%;">
                        {% endif %}

                        {% if x.testtype == "CMJ" %}
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                        <p>{{ x.testtype }}</p>
                            {% if CMJ_y %}
                                <p id="cmjchange"></p>
                                <img src="data:image/png;base64, {{CMJ_chart_line|safe}}">
                            {% else %}
                                <p>No Data Selected...</p>
                            {% endif %}
                        </div>
                        <hr style="width: 100%; opacity: 20%;">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <button class="kpidatabtn">Add Data</button>
          </div>

          {% if wellness %}
            {% for x in wellness %}
                <div class="status">
                    <div style="border-radius: 5px; width: 100%; text-align: center; padding: 5px; margin-right: 5px;" id="bor">
                        <h5 id="stat">Status:  {{ x.status }}</h5>
                    </div>
                    <div style="border: 1px solid white; border-radius: 5px; width: 100%; text-align: center; padding: 5px; margin-left: 5px;">
                        <div style="display: flex; justify-content: center;">
                            <h5>Readiness: &nbsp;</h5>
                            <h5 id="total"></h5>
                        </div>
                    </div>
                </div>

  
            <!--
            <table class="table mainFont wellnesstable" style="border-radius: 10px; margin: auto;">
                
                <tr>
                    <td style="border-right: 1px solid white;"><div class="wellnessrows"><h6>Hours of Sleep</h6> <h6>{{ x.hoursofsleep }}</h6></div></td>
                    <td><div class="wellnessrows"><h6>Sleep Quality</h6> <h6>{{ x.sleepquality }}</h6></div></td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid white;"><div class="wellnessrows"><h6>Breakfast</h6> <h6>{{ x.breakfast }}</h6></div></td>
                    <td><div class="wellnessrows"><h6>Hydration</h6> <h6>{{ x.hydration }}</h6></div></td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid white;"><div class="wellnessrows"><h6>Soreness</h6> <h6>{{ x.soreness }}</h6></div></td>
                    <td><div class="wellnessrows"><h6>Stress</h6> <h6>{{ x.stress }}</h6></div></td>
                  </tr>
                  <tr>
                    <td style="border-right: 1px solid white; border-bottom: none;"><div class="wellnessrows"><h6>Mood</h6> <h6>{{ x.mood }}</h6></div></td>
                    <td style="border-bottom: none;"><div class="wellnessrows"><h6>Total</h6><h6 id="total2"></h6></div></td>
                  </tr>

                  </table>
            -->
    
                  <script type="text/javascript">
                    var hoursofsleep = Number("{{ x.hoursofsleep }}")
                    var sleepquality =  Number("{{ x.sleepquality }}")
                    var breakfast =  Number("{{ x.breakfast }}")
                    var hydration =  Number("{{ x.hydration }}")
                    var soreness =  Number("{{ x.soreness }}")
                    var stress =  Number("{{ x.stress }}")
                    var mood =  Number("{{ x.mood }}")

                    var total = hoursofsleep + sleepquality + breakfast + hydration + soreness + stress + mood
                    document.getElementById("total").innerHTML = total

                    var TenYd_Change = Number("{{ TenYd_Date2_result.testresult }}") - Number("{{ TenYd_Date1_result.testresult }}")
                    TenYd_Change = TenYd_Change.toFixed(2)

                    var Bench1RM_Change = Number("{{ Bench1RM_Date2_result.testresult }}") - Number("{{ Bench1RM_Date1_result.testresult }}")
                    Bench1RM_Change = Bench1RM_Change.toFixed(2)
    
                    var CMJ_Change = Number("{{ CMJ_Date2_result.testresult }}") - Number("{{ CMJ_Date1_result.testresult }}")
                    CMJ_Change = CMJ_Change.toFixed(2)

                    function status() {

                        var status = "{{ x.status }}"

                        if (status == 'N'){
                            document.getElementById("stat").style.color = "#FC5151"
                            document.getElementById("bor").style.border = "1px solid #FC5151"
                        }
                        else if (status == 'Y'){
                            document.getElementById("stat").style.color = "#58E767"
                            document.getElementById("bor").style.border = "1px solid #58E767"
                        }

                        if (TenYd_Change != 0.00){
                            document.getElementById("tenydchange").innerHTML = "Change: " + TenYd_Change
                            if (TenYd_Change > 0.00){
                                document.getElementById("tenydchange").style.color = "#58E767"
                            }
                            else if (TenYd_Change < 0.00){
                                document.getElementById("tenydchange").style.color = "#FC5151"
                            }
                        }
                        if (Bench1RM_Change != 0.00){
                            document.getElementById("bench1rmchange").innerHTML = "Change: " + Bench1RM_Change
                            if (Bench1RM_Change > 0.00){
                                document.getElementById("bench1rmchange").style.color = "#58E767"
                            }
                            else if (Bench1RM_Change < 0.00){
                                document.getElementById("bench1rmchange").style.color = "#FC5151"
                            }
                        }
                        if (CMJ_Change != 0.00){
                            document.getElementById("cmjchange").innerHTML = "Change: " + CMJ_Change
                            if (CMJ_Change > 0.00){
                                document.getElementById("cmjchange").style.color = "#58E767"
                            }
                            else if (CMJ_Change < 0.00){
                                document.getElementById("cmjchange").style.color = "#FC5151"
                            }
                        }
                    }

                    window.onload = function() {
                        status();
                    };
                  </script>
            
            {% endfor %}
          {% endif %}

        </div>
      </div>

      <!-- Graphs -->
      <div class="col-md-7" style="padding-top: 10px; padding-left: 45px; padding-right: 45px">
        {% if testType %}
        <div style="display: flex; padding-top: 20px;">
            <p style="font-size: 18px" class="mainFont" id="resultone">DD/MM/YY</p>
            <p style="font-size: 18px" class="mainFont">&nbsp; to &nbsp;</p>
            <p style="font-size: 18px" class="mainFont" id="resulttwo">DD/MM/YY</p>
        </div>
        <p></p>
            {% for x in testType %}
            <div class="graphprof">
                <div style="display: flex; flex-direction: column;">
                    <div style="display: flex;">
                        <h2>{{ x.testtype }}</h2>
                        
                        <!--
                        <p style="font-size: 12px; padding-left: 5%;" id="result">DD/MM//YY</p> 
                        <p style="font-size: 12px;">&nbsp; &nbsp; to &nbsp; &nbsp;</p> 
                        <p style="font-size: 12px;" id="displayeddate12">DD/MM//YY</p>  
                        -->

                    </div>
                    
                    {% if x.testtype == "10yd Sprint" %}
                        {% if TenYd_y %}
                            <img src="data:image/png;base64, {{TenYd_chart|safe}}">
                        {% else %}
                            <p>No Data Selected...</p>
                        {% endif %}
                    {% endif %}

                    {% if x.testtype == "CMJ" %}
                        {% if CMJ_y %}
                            <img src="data:image/png;base64, {{CMJ_chart|safe}}">
                        {% else %}
                            <p>No Data Selected...</p>
                        {% endif %}
                    {% endif %}

                    {% if x.testtype == "Barbell Bench Press 1RM" %}
                        {% if Bench1RM_y %}
                            <img src="data:image/png;base64, {{Bench1RM_chart|safe}}">
                        {% else %}
                            <p>No Data Selected...</p>
                        {% endif %}
                    {% endif %}
                    
                </div>
            </div>

            <script type="text/javascript">
                let selection1 = document.getElementById('date1');
                let date1 = document.getElementById('resultone');

                let selection2 = document.getElementById('date2');
                let date2 = document.getElementById('resulttwo');
    
                selection1.addEventListener('change', () => {
                    resultone.innerText = selection1.options[selection1.selectedIndex].text;
                });

                selection2.addEventListener('change', () => {
                    resulttwo.innerText = selection2.options[selection2.selectedIndex].text;
                });
            </script>

            {% endfor %}
        {% endif %}
      </div>
    </div>
    
</div>
</body>
</html>


