<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Coach's Corner</title>

    <!-- FontAwesome Icons Link-->
    <script src="https://kit.fontawesome.com/c4b55b7379.js" crossorigin="anonymous"></script>

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- CSS Styling -->
    <link rel="stylesheet" href="/staticfiles/templates/css/styling.css" type="text/css">

    <!-- Javascript -->
    <script src="/static/templates/js/dynamic.js" type="text/javascript" defer></script>

</head>
<body>

  <div class="mainFont container-fluid">
    <div class="row">

      <!-- SideNavbar -->
      {% include 'html/sidenav.html' %}
    
      <div class="col-md-2"></div>

      <!-- Athlete Profile -->
      <div class="col-md-3" style="padding-top: 10px;">
        <div style="position: fixed; width: inherit;">
          <h1 class="mainFont" style="padding-bottom: 10px; padding-right: 8%;">{{ athleteProf.fname }} {{ athleteProf.lname }}</h1>
          <div class="athprof">
            <img class="athpic"/>
            
            <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
                <div style="display: flex;">
                    <h5>Sport</h5> <h5 style="order: 2;">Rugby</h5>
                </div>
                
                <h5>Position</h5>
                <h5>Year</h5>
                <h5>Height</h5>
                <h5>Weight</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Graphs -->
      <div class="col-md-7" style="padding-top: 10px; padding-left: 45px; padding-right: 45px">
        <div class="graphprof">
            <h3>woo hoo</h3>
            <h3>woo hoo</h3>
            <h3>woo hoo</h3>
            <h3>woo hoo</h3>
            <h3>woo hoo</h3>
            <h3>woo hoo</h3>
            <h3>woo hoo</h3>
            <h3>woo hoo</h3>
            <h3>woo hoo</h3>
        </div>
      </div>
    </div>
</div>
</body>
</html>


