<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Header -->
  {% include 'html/header.html' %}
</head>

<body>

    <div class="mainFont container-fluid">
        <div class="row">
    
          <!-- SideNavbar -->
          {% include 'html/sidenav.html' %}
    
          <div class="col-md-2"></div>
    
          <!-- Team_T -->
          <div class="col-md-9" style="margin: 10px;">
            <div style="display: flex; width: 75vh;">
              <h1 class="mainFont" style="padding-bottom: 10px; padding-right: 8%;">Recently Viewed</h1>
            </div>
          </div>
       </div>
    </div>
</body>
</html>