<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Header -->
    {% include 'html/header.html' %}
</head>

<body>

    <!-- SideNavbar -->
    {% include 'html/sidenav.html' %}

    <main class="py-3 py-override">

        <div class="main-header" style="gap: 25px;">
            <a href="{% url 'AthleteProf' athlete.fname athlete.lname athlete.dob athlete.id %}"><i class="fa-solid fa-circle-arrow-left"></i></a>
            <h1>Edit Athlete: {{athlete.fname}} {{athlete.lname}}</h1>
        </div>

        <form method="post" id="addathleteform">
            {% csrf_token %}
            <div class="basicreport" style="width: 100%; max-width: 500px; height: auto;">
                <div class="d-flex" style="gap: var(--inner-padding); padding-bottom: var(--inner-padding);">
                    <div>
                        <p>First Name</p>
                        <input type="text" class="form-control" name="fname" value="{{athlete.fname}}">
                    </div>
                    <div>
                        <p>Last Name</p>
                        <input type="text" class="form-control" name="lname" value="{{athlete.lname}}">
                    </div>
                </div>
                <div class="d-flex" style="gap: var(--inner-padding); padding-bottom: var(--inner-padding);">
                    <div>
                        <p>Year</p>
                        <select name="year" class="form-control">
                            <option selected>{{athlete.year}}</option>
                            <option>Freshman</option>
                            <option>Sophomore</option>
                            <option>Junior</option>
                            <option>Senior</option>
                        </select>
                    </div>
                    <div>
                        <p>Date of Birth</p>
                        <input type="date" class="form-control" name="dob" value="{{athlete.dob}}">
                    </div>
                </div>
                <div class="d-flex" style="gap: var(--inner-padding); padding-bottom: var(--inner-padding);"> 
                    <div>
                        <p>Height (in.)</p>
                        <input type="text" class="form-control" name="height" value="{{athlete.height}}">
                    </div>
                    <div>
                        <p>Gender</p>
                        <select class="form-control" name="gender">
                            <option selected>{{athlete.gender}}</option>
                            <option>M</option>
                            <option>F</option>
                        </select>
                    </div>
                </div>

                <div class="d-flex" style="gap: var(--inner-padding); padding-top: var(--inner-padding); padding-bottom: var(--inner-padding);">
                    <div>
                        <p>Team</p>
                        <select name="sportsteam" class="form-control">
                            <option selected>{{athlete.sportsteam}}</option>
                            <option>Field Hockey</option>
                            <option>Football</option>
                            <option>Men's Ice Hockey</option>
                            <option>Men's Rugby</option>
                            <option>Men's Swimming</option>
                            <option>Women's Ice Hockey</option>
                            <option>Women's Rugby</option>
                            <option>Women's Swimming</option>
                        </select>
                       
                    </div>
                    <div>
                        <p>Position</p>
                        <input type="text" class="form-control" name="position" value="{{athlete.position}}">
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="spanning-button" style="width: 25%;" type="submit" value="Submit">Submit</button>
                </form>
                    <form method="get">
                        <button class="delbtn" style="color:var(--acc-color-neg); background-color: #fc515100; margin-bottom: 20px;" onclick="return confirm('Are you sure?');" type="submit" name="delete" value="delete">Delete Student &nbsp; <i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </div>
            </div>
    </main>
</body>