<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Header -->
    {% include 'html/header.html' %}
</head>

<body>
    <div class="kpireport" style="display: flex; flex-direction: column; justify-content: space-evenly; height: 90vh; width: 65vh; margin: auto; margin-top: 40px; text-align: center;">
        <h1>Login</h1>
        <input type="text" class="searchbar" name="username" placeholder="Enter Username">
        <input type="password" class="searchbar" name="password" placeholder="Enter Password">
        <a href="/dash"><button class="submit">Login</button></a>
    </div>

</body>

</html>