<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Header -->
  {% include 'html/header.html' %}
  <script src="/staticfiles/templates/js/recordkpi.js"></script>
</head>

<body>
  <div>
    <!-- SideNavbar -->
    {% include 'html/sidenav.html' %}

    <main class="py-3 py-override">
      <!-- Definitly not responsive... sorry-->
      <p class="how-to-text" style="left: calc(40% + calc(var(--nav-width)/2));" id="how-to">
        Select a Sports Team To Start KPI Recording
      </p>

      <div class="container" style="max-width: 1800px;">
        <div class="row">
          <div class="col-lg-9 col-padding col-inner-padding-l">

            <!-- Title Header -->
            <div class="main-header justify-content-between">
              <h1>Record KPI</h1>
            </div>

            <!-- Date & Team Selectors -->
            <div class="d-flex" style="gap: var(--inner-padding);">
              <input type="date" id="date_selector" class="form-control input-box">
              <select id="sportsteam" name="sportsteam">
                <option disabled hidden selected>Select Team</option>
                {% for x in teams %}
                <option>{{ x.sport }}</option>
                {% endfor %}
              </select>
            </div>

            <!-- Data Entry Table -->
            <div class="table-container">
              <table id="data-table" class="data-table">
                <thead>
                  <tr id="theader">
                    <th style="min-width: 80px;"></th>
                  </tr>
                </thead>
                <tbody id="tvalues">
                </tbody>
              </table>
            </div>

            <div id="hide" style="display: none;">
              <div class="d-flex" style="gap: var(--inner-padding);">
                <input type="submit" value="Submit" class="submit" id="submitbtn">
                <input type="submit" value="Clear Table" class="submit" id="clearbtn">
              </div>
            </div>

          </div>

          <div class="col-lg-3 col-inner-padding-r" style="margin-top: var(--gutter); height: 85vh;">

            <input type="text" id="test-search" onkeyup="listFilter()" placeholder="Search for tests..."
              style="margin-bottom: 0; border-radius: var(--radius-big) var(--radius-big) 0 0; color: white;">
            <div class="overflow-auto"
              style="background-color: var(--color-secondary); height: 100%; padding-top: var(--inner-padding); border-radius: 0 0 var(--radius-big) var(--radius-big);">
              <ul id="test-list">
                {% for x in test_types %}
                <li>
                  <div><a>{{ x }}</a><input id="{{ forloop.counter }}" type="checkbox" disabled="true"></div>
                  <hr style="margin-left: var(--inner-padding); margin-right: var(--inner-padding);">
                </li>
                {% endfor %}
              </ul>

            </div>

            <!-- STYLING NEEDED FOR STICKY BUTTON AND FORM -->
            <!-- Sticky button to add a new test type -->
            <button id="addTestBtn" style="position: sticky; bottom: 0; width: 100%;" class="submit">Add New Test</button>

            <!-- Form to input new test type -->
            <!-- 'bottom' style pushes the form above the Add Test Type/Close button -->
            <form id="addTestForm" style="display: none; position: absolute; bottom: 155px; background-color: #31363d; width: 320px; border-radius: 5px;" method="POST" action="{% url 'addTestType' %}">
              {% csrf_token %}
              <label for="Tname">Test Name: </label>
              <input type="text" id="Tname" name="Tname"><br>

              <label for="minBetter">Min is Better:</label>
              <input type="checkbox" id="minBetter" name="minBetter" value=1><br>
              
              <button id="submitTestBtn" type="submit">Submit</button>
            </form>

            <script>
              window.recordKPIdata = {
                recordKPI_url: "{% url 'recordKPI' %}",
                addTestType_url: "{% url 'addTestType' %}",
              }
            </script>
            
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>