<nav class="position-fixed min-vh-100">

  <div class="d-flex align-items-center mb-4 nav-header">
    {% if request.user.is_authenticated %}

    <a href="{% url 'userProf' user.username %}" class="nav-link px-0 align-middle">
      <div class="d-flex justify-content-center align-items-center user-display">
        <div id="user-initials" class="user-initials"></div>
        <span class="username" id="username"></span>
      </div>
    </a>

    {% endif %}
  </div>

  <div class="nav-container">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-md-start" id="menu">
      <!-- align-items-sm-start -->
      <li class="nav-item">
        <a href="/dash" class="nav-link align-middle px-0">
          <i class="fs-4 fa-solid fa-house fa-fw"></i> <span class="ms-1 d-none d-md-inline">Home</span>
        </a>
      </li>
      <hr class="w-100 my-2 d-none d-md-inline" />
      <li>
        <a href="/athletes" class="nav-link px-0 align-middle">
          <i class="fs-4 fa-solid fa-person-running fa-fw"></i> <span class="ms-1 d-none d-md-inline">Athletes</span>
          <!-- d-md-inline -->
        </a>
      </li>
      <hr class="w-100 my-2 d-none d-md-inline" />
      <li>
        <a href="/teams" class="nav-link px-0 align-middle">
          <i class="fs-4 fa-solid fa-people-group fa-fw"></i> <span class="ms-1 d-none d-md-inline">Teams</span>
        </a>
      </li>
      <hr class="w-100 my-2 d-none d-md-inline" />
      <li>
        <a href="/recordKPI" class="nav-link px-0 align-middle">
          <i class="fs-4 fa-solid fa-pen-to-square fa-fw"></i> <span class="ms-1 d-none d-md-inline">Record KPI</span>
        </a>
      </li>
      <hr class="w-100 my-2 d-none d-md-inline" />
      <li>
        <a href="/wellness" class="nav-link px-0 align-middle">
          <i class="fs-4 fa-solid fa-heart fa-fw"></i> <span class="ms-1 d-none d-md-inline">Wellness</span>
        </a>
      </li>
      {% if request.user.is_authenticated %}
      <hr class="w-100 my-2 d-none d-md-inline" />
      <li>
        <a href="{% url 'LogoutUser' %}" class="nav-link px-0 align-middle">
          <i class="fs-4 fa-solid fa-arrow-right-from-bracket fa-fw"></i> <span
            class="ms-1 d-none d-md-inline">Logout</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>

  <!--
  <div class="nav-footer">
    <small>Coach's Corner v1.0</small>
  </div>
  -->
</nav>

<script>

  const fname = "{{ user.first_name}}";
  const lname = "{{ user.last_name}}";

  // Formats first name with uppercase first letter
  form_fname = fname.charAt(0).toUpperCase() + fname.slice(1);

  // Gets just the first character from first and last names 
  // Makes them uppercase
  var f_init = fname.charAt(0).toUpperCase();
  var l_init = lname.charAt(0).toUpperCase();

  // Injects initials and names into HTML
  document.getElementById("user-initials").innerText = f_init + l_init;
  document.getElementById("username").innerText = form_fname + " " + l_init + ".";

</script>