<!-- SideNavBar -->
<div class="navbar">
    <div style="width: 80%; margin-right: auto; margin-left: auto; margin-top: 15px; height: 100%; padding-top: 10px;">
      <div style="display: flex; margin-right: auto; margin-left: auto;">
        <h5><i class="fa-solid fa-user"></i>  &nbsp; Admin User</h5>
      </div>

      <div style="height: 5vh;"></div>

      <a href="http://127.0.0.1:8000/" class="linkstyle"><h5 style="margin: auto;"><i class="fa-solid fa-house"></i> &nbsp; Dashboard</h5></a>
      <hr style="width: 75%; opacity: 20%;">
      <a href="/athletes" class="linkstyle"><h5 style="margin: auto;"><i class="fa-solid fa-person-running"></i> &nbsp; Athletes</h5></a>
      <hr style="width: 75%; opacity: 20%;">
      <a href="/teams" class="linkstyle"><h5 style="margin: auto;"><i class="fa-solid fa-people-group"></i> &nbsp; Teams</h5></a>
      <hr style="width: 75%; opacity: 20%;">
      <a href="/create" class="linkstyle"><h5 style="margin: auto;"><i class="fa-solid fa-pen"></i> &nbsp; Create</h5>
        <hr style="width: 75%; opacity: 20%;"></a>
      <a href="/analyze" class="linkstyle"><h5 style="margin: auto;"><i class="fa-solid fa-chart-column"></i> &nbsp; Analyze</h5></a>
    </div>
</div>
