<nav class="side-nav">
  <div class="nav-user nav-links">
    {% if request.user.is_authenticated %}
    <i class="fa-solid fa-user"></i>{{ request.user }}
    {% endif %}
  </div>
  <div class="nav-links"> 
    <a href="/dash" class="nav-list-item"><i class="fa-solid fa-house"></i>Dashboard</a>
    <div class="line-1"></div>
    <a href="/athletes" class="nav-list-item"><i class="fa-solid fa-person-running"></i>Athletes</a>
    <div class="line-1"></div>
    <a href="/teams" class="nav-list-item"><i class="fa-solid fa-people-group"></i>Teams</a>
    <div class="line-1"></div>
    <a href="/recordKPI" class="nav-list-item"><i class="fa-solid fa-pen-to-square"></i>Record KPI</a>
    <div class="line-1"></div>
    <a href="/wellness" class="nav-list-item"><i class="fa-solid fa-heart"></i>Wellness</a>
    <div class="line-1"></div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'LogoutUser' %}" class="nav-list-item"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
    {% endif %}
  </div>
  <div class="nav-footer"><small>Coach's Corner v1.0</small></div>
</nav>
