<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Header -->
  {% include 'html/header.html' %}
</head>

<body>

  <!-- SideNavbar -->
  {% include 'html/sidenav.html' %}

  <main class="py-3">
    <div class="container" style="max-width: 1800px;">
      <div class="row">

        <!-- Team_T -->
        <div class="col-md-3" style="padding: 0 20px 0 0;">

          <div class="main-header" style="display: flex; justify-content: space-between;">
            <h1>Teams</h1>
            <a href="/commingSoon">
              <i class="fa-solid fa-square-plus" style="color: var(--yellow-accent); font-size: 40px;"></i>
            </a>
          </div>

          <div style="margin-top: 20px;">
            <h4>Populations</h4>
            &nbsp;
          </div>

          <table class="table table-dark table-striped table-hover table-customs">
            <tr style="height: 50px; vertical-align:middle;">
              <td>All Athletes</td>
              <td style="text-align: right;"><a href="/athletes"><i class="fa-solid fa-user-group" style="font-size: var(--icon-size); margin-right: 5px;"></i></a></td>
            </tr>
            <tr style="height: 50px; vertical-align:middle;">
              <td>Males</td>
              <td style="text-align: right;"><a href="{% url 'MaleAthletes' %}"><i class="fa-solid fa-user-group" style="font-size: var(--icon-size); margin-right: 5px;"></i></a></td>
            </tr>
            <tr style="height: 50px; vertical-align:middle;">
              <td>Females</td>
              <td style="text-align: right;"><a href="{% url 'FemaleAthletes' %}"><i class="fa-solid fa-user-group" style="font-size: var(--icon-size); margin-right: 5px;"></i></a></td>
            </tr>
          </table>

          <div style="margin-top: 20px;">
            <h4>Sports Teams</h4>
            &nbsp;
          </div>

          <table class="table table-dark table-striped table-hover table-customs">
            {% for TeamT in teams %}
            <tr style="height: 50px; vertical-align:middle;">
              <td>{{ TeamT.sport }}</td>
              <td style="text-align: right;"><a href="{% url 'TeamSpecificAthletes' TeamT.sport %}"><i class="fa-solid fa-user-group" style="font-size: var(--icon-size); margin-right: 5px;"></i></a></td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div class="col-md-9" style="height: 100vh; padding: 0 0 0 20px;">

          <div class="main-header">
            <form method="post" id="kpiform">
              {% csrf_token %}
              <select id="date1" name="date1">
                <option disabled hidden selected>Select Date</option>
                {% for x in all_dates %}
                <option>{{ x.datekpi }}</option>
                {% endfor %}
              </select>
              to
              <select id="date2" name="date2">
                <option disabled hidden selected>Select Date</option>
                {% for x in all_dates %}
                <option>{{ x.datekpi }}</option>
                {% endfor %}
              </select>
              <input type="submit" value="submit" class="submit">
            </form>

          </div>

          <div style="height:85vh; background-color: var(--med-gray-2);" class="basicreport">
            <div style="margin: auto; width: fit-content; height: 100%;">
              <p style="margin-top: 37vh;">Select a Sports Team or a Population</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>

</html>