<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Header -->
  {% include 'html/header.html' %}
</head>

<body>

  <!-- SideNavbar -->
  {% include 'html/sidenav.html' %}

  <main class="py-3 py-override">
    <div class="container" style="max-width: 1800px;">
      <div class="row">

        <!-- Team_T -->
        <div class="col-lg-3 col-padding">

          <div class="main-header">
            <h1>Teams</h1>
          </div>

          <table class="table table-dark table-striped table-hover table-customs">
            {% for TeamT in teams %}
            <tr style="height: 50px; vertical-align:middle;">
              <td>{{ TeamT.sport }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div class="col-lg-9 col-padding">

          <div class="main-header">
            <form method="post" id="kpiform">
              {% csrf_token %}
              <select id="date1" name="date1">
                <option disabled hidden selected>Select Date</option>
                {% for x in all_dates %}
                <option>{{ x.datekpi }}</option>
                {% endfor %}
              </select>
              to
              <select id="date2" name="date2">
                <option disabled hidden selected>Select Date</option>
                {% for x in all_dates %}
                <option>{{ x.datekpi }}</option>
                {% endfor %}
              </select>
              <input type="submit" value="submit" class="submit">
            </form>

          </div>

          <div style="height:85vh; background-color: var(--color-secondary);" class="basicreport">
          </div>

        </div>
      </div>
    </div>
  </main>

</body>

</html>