<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Header -->
  {% include 'html/header.html' %}
</head>

<body>

    <div class="mainFont container-fluid">
        <div class="row">
    
          <!-- SideNavbar -->
          {% include 'html/sidenav.html' %}
    
          <div class="col-md-2"></div>
    
          <!-- Team_T -->
          <div class="col-md-10" style="padding-top: 10px; padding-right: 45px">
            <div style="display: flex; width: 75vh;">
              <h1 class="mainFont" style="padding-bottom: 10px; padding-right: 8%;">Teams</h1>
              <i class="fa-solid fa-magnifying-glass" style="align-self: center; scale: 1.3;"></i>
              &nbsp;
              &nbsp;
              <input type="text" class="searchbar" placeholder="Search...">
            </div>
            <table class="table mainFont">
            <thead>
                <tr>
                  <th scope="col" style="background-color: #242C3D;" >Sport</i></th>
                </tr>
              </thead>
              <tbody class="table-group-divider" >
                {% for TeamT in teams %}
                <tr>
                    <td style="background-color: #242C3D;" >{{ TeamT.sport }}</td>
                {% endfor %}
            </table>
          </div>
        </div>
      </div>
</body>
</html>