{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Header -->
  {% include 'html/header.html' %}
  <script src="/staticfiles/templates/js/userProf.js"></script>

</head>

<body>
  <!-- SideNavbar -->
  {% include 'html/sidenav.html' %}
  <main class="py-3 py-override">
    <div class="row" style="height: 90vh">
      <div class="main-header">
        <h1>{{user.username}} - Profile</h1>
      </div>
      <div class="col-md-4" style="height: 90%;">
        <div class="basicreport"
          style="display: flex; flex-direction: column; justify-content: space-evenly; height: 90%;">

          <div class="d-flex justify-content-center align-items-center user-display">
            <div id="user-initials_profile" class="user-initials" style="width: 100px; height: 100px; font-size: 48px;"></div>
          </div>

          <form method="POST" style="height: 100%;">
            {% csrf_token %}
            <div style="display: flex; flex-direction: column; justify-content: space-evenly; height: 100%;">

              <div class="d-flex w-100">
                <div style="float: left; width: 47%;">
                  <p>Current Password</p>
                  {% render_field updateForm.old_password class+="form-control" %}
                </div>
              </div>
              <div class="d-flex w-100">
                <div style="float: left; width: 47%;">
                  <p>New Password</p>
                  {% render_field updateForm.new_password1 class+="form-control" %}
                </div>
              </div>
              <div class="d-flex w-100">
                <div style="float: left; width: 47%;">
                  <p>Confirm New Password</p>
                  {% render_field updateForm.new_password2 class+="form-control" %}
                </div>
              </div>

              <div class="w-100">
                <button class="submit" style="height: 45px; width: 30%; margin: auto; float: right;">Update
                  Changes</button>
              </div>
            </div>
          </form>

        </div>

        <div style="width: 100%; height: 10%;">
          {% if request.user.is_authenticated %}
          <a href="{% url 'LogoutUser' %}" class="nav-link px-0 align-middle">
            <i class="fs-4 fa-solid fa-arrow-right-from-bracket fa-fw" style="color: var(--acc-color-main);"></i> <span
              class="ms-1 d-none d-md-inline">Logout</span>
          </a>
          {% endif %}
        </div>

      </div>

      {% if user.is_superuser %}

      <div class="col-md-4">
        <div class="basicreport" style="display: flex; flex-direction: column; height: 90%">
          <h4>Register New User</h4>
          <form method="POST" style="height: 100%;">
            {% csrf_token %}
            <div
              style="display: flex; flex-direction: column; justify-content: space-evenly; height: 100%; margin-top: 5%;">

              <div style="display: flex; width: 100%; justify-content: space-between;">
                <div style="width: 47%">
                  <p>First Name</p>
                  {% render_field form.first_name class+="form-control" %}
                  <p>Username</p>
                  {% render_field form.username class+="form-control" %}
                </div>
                <div style="width: 47%">
                  <p>Last Name</p>
                  {% render_field form.last_name class+="form-control" %}
                </div>
              </div>
              <div>
                <ul>
                  <li>Your password can’t be too similar to your other personal information.</li>
                  <li>Your password must contain at least 8 characters.</li>
                  <li>Your password can’t be entirely numeric.</li>
                </ul>
              </div>
              <div class="d-flex w-100">
                <div style="float: left">
                  <p>Password</p>
                  {% render_field form.password1 class+="form-control" %}
                  <p>Confirm Password</p>
                  {% render_field form.password2 class+="form-control" %}
                </div>
              </div>

              <div class="w-100">
                <button class="submit" style="height: 45px; width: 30%; margin: auto; float: right;">Add User</button>
              </div>

            </div>
          </form>
        </div>
      </div>

      <div class="col-md-4" style="padding-top: 10px;">
        <div style="display: flex;">
          <h4 class="mainFont" style="padding-bottom: 10px; padding-right: 8%;">Registered Users</h4>
          <h4 id="userCount"></h4>
        </div>
        
        <div style="display: flex; justify-content: space-between; margin-top: 10px;">
          <h6>Name</h6>
          <h6>Username</h6>
          <h6>Remove</h6>
        </div>
        <table class="table table-dark table-striped table-hover table-customs" id="usertable">
          {% for x in allUsers %}
          {% if forloop.counter != 1 %}
          <tr style="height: 50px; vertical-align:middle;">
            <td style="width: 37%;">{{ x.first_name }} {{ x.last_name }}</td>
            <td>{{x.username}}</td>
            <td style="text-align: right;">
              <a onclick="return confirm('Are you sure?');" href="{% url 'DeleteUser' user.username x.id %}">
                  <button class="delkpibtn" style="background-color: #fc515100; font-size: var(--icon-size)" name="delete" value="delete"><i class="fa-solid fa-xmark"></i></button>
              </a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>

      </div>
      {% else %}

      {% endif %}
    </div>
  </main>

  <script>
    window.userData = {
      fname: "{{ user.first_name }}",
      lname: "{{ user.last_name }}"
    }
  </script>

</body>