<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Header -->
  {% include 'html/header.html' %}
  <link rel="stylesheet" href="/staticfiles/templates/css/wellnessForm.css">
</head>

<body>

  <!-- Wellness Form -->
  <form method="post">
    {% csrf_token %}

    <!-- Select Name -->

    <div class="formBox">
      <h2>Please select your name:</h2>
      <select id="name" name="name">
        <option disabled hidden selected>Select Name</option>
        {% for x in athletes %}
        <option>{{ x.fname }} {{ x.lname }} {{ x.dob }}</option>
        {% endfor %}
      </select>
    </div>

    <!-- Select Date? -->
    <div class="formBox">
      <h2>Please select today's date:</h2>
        <input type="date" name="date" id="datekpi" style="background-color: var(--color-bg);">
    </div>

    <!-- How many hours of sleep did you get last night? -->
    <div class="formBox">
      <h2>How many hours of sleep did you get last night?</h2>
      <group class="inlineRadio">
        <input type="radio" label="5 or Fewer" id="sleepHours1" class="radio-inline" name="hoursofsleep" value="1">
        <input type="radio" label="In Between"id="sleepHours2" class="radio-inline" name="hoursofsleep" value="2">
        <input type="radio" label="8 or More"id="sleepHours3" class="radio-inline" name="hoursofsleep" value="3">
      </group>
      <br>
    </div>

    <!-- How was the quality of your sleep? -->
    <div class="formBox">
      <h2>How was the quality of your sleep?</h2>
      <group class="inlineRadio">
        <input type="radio" label="Poor" id="sleepQuality1" class="radio-inline" name="sleepquality" value="1">
        <input type="radio" label="Okay" id="sleepQuality2" class="radio-inline" name="sleepquality" value="2">
        <input type="radio" label="Great!" id="sleepQuality3" class="radio-inline" name="sleepquality" value="3">
      </group>
      <br>
    </div>

    <!-- Did you eat breakfast? -->
    <div class="formBox">
      <h2>Did you eat breakfast?</h2>
      <group class="inlineRadio">
        <input type="radio" label="No" id="breakfast1" class="radio-inline binary" name="breakfast" value="1">
        <input type="radio" label="Yes" id="breakfast3" class="radio-inline binary" name="breakfast" value="3">
      </group>
      <br>
    </div>

    <!-- If your waking hours are divided into 4 quarters ...? -->
    <div class="formBox">
      <h2>If your waking hours are divided into 4 quarters and you need to consume at least 20oz of water per quarter, are you on track to meet your goal?</h2>
      <group class="inlineRadio">
        <input type="radio" label="Behind" id="quarters1" class="radio-inline" name="hydration" value="1">
        <input type="radio" label="On Track" id="quarters2" class="radio-inline" name="hydration" value="2">
        <input type="radio" label="Ahead" id="quarters3" class="radio-inline" name="hydration" value="3">
      </group>
      <br>
    </div>

    <!-- How does your body feel? -->
    <div class="formBox">
      <h2>How does your body feel?</h2>
      <group class="inlineRadio">
        <input type="radio" label="Can Barely Move" id="feel1" class="radio-inline" name="soreness" value="1">
        <input type="radio" label="In Between" id="feel2" class="radio-inline" name="soreness" value="2">
        <input type="radio" label="Body feels great!" id="feel3" class="radio-inline" name="soreness" value="3">
      </group>
      <br>
    </div>

    <!-- How stressed do you currently feel? -->
    <div class="formBox">
      <h2>How stressed/anxious do you currently feel from your sport, school, relationships, and/or health?</h2>
      <group class="inlineRadio">
        <input type="radio" label="Very Stressed" id="stress1" class="radio-inline" name="stress" value="1">
        <input type="radio" label="A Little Stressed" id="stress2" class="radio-inline" name="stress" value="2">
        <input type="radio" label="Life is Good!" id="stress3" class="radio-inline" name="stress" value="3">
      </group>
      <br>
    </div>

    <!-- How is your mood? -->
    <div class="formBox">
      <h2>How is your mood?</h2>
      <group class="inlineRadio">
        <input type="radio" label="Negative" id="mood1" class="radio-inline" name="mood" value="1">
        <input type="radio" label="Moderate" id="mood2" class="radio-inline" name="mood" value="2">
        <input type="radio" label="Positive" id="mood3" class="radio-inline" name="mood" value="3">
      </group>
      <br>
    </div>

    <!-- How is your status? -->
    <div class="formBox">
      <h2>What's your status?</h2>
      <group class="inlineRadio">
        <input type="radio" label="Out" id="status2" class="radio-inline" name="status" value="Out">
        <input type="radio" label="Good" id="status1" class="radio-inline" name="status" value="Good">
      </group>
      <br>
    </div>

    <!-- Submit button -->
    <div class="formBox">
    <h3>
      <input type="submit" class="submit" value="Submit">
    <h3>
    </div>


  </form>

</body>
</html>
