<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Header -->
  {% include 'html/header.html' %}
</head>

<body>

  <!-- SideNavbar -->
  {% include 'html/sidenav.html' %}

  <main class="py-3 py-override">

    <p class="how-to-text" id="how-to">Select a Team & Date to Show Wellness</p>

    <div class="container" style="max-width: 1800px;">
      <div class="row">

        <div class="col-lg-12 col-padding col-inner-padding-l">
          <div class="main-header justify-content-between">
            <h1 id="header-text">Wellness</h1>

            <div class="d-flex align-items-center" style="gap: var(--inner-padding);">

              <a href="{% url 'wellnessForm' %}">
                <button class="spanning-button" style="margin-top: 0; padding: 10px 10px;">Record Wellness</button>
              </a>

              <i id="settings" class="fa-solid fa-gear"
                style="color: var(--acc-color-main); font-size: var(--icon-size); z-index: 2;"></i>

              <div id="options-card" class="options-card" style="display: none;">
                <div class="d-flex justify-content-between align-items-center">
                  <h4>Settings</h4>
                  <i class="fa-solid fa-xmark" style="font-size: var(--icon-size);"></i>
                </div>
                <ul>
                  <li>Show Full Name<input id="i-show_fullname" type="checkbox" checked="true"></li>
                  <li>Show Trend Graphs<input id="i-show_trends" type="checkbox" checked="true"></li>
                  <li>Show Positions<input id="i-show_pos" type="checkbox" checked="true"></li>
                </ul>
              </div>
            </div>
          </div>

          <form method="post" id="wellnessdisplayform">
            {% csrf_token %}
            <div id="header" class="d-flex" style="gap: var(--inner-padding);">
              <input type="date" class="form-control input-box" id="wellnessdate" name="wellnessdate" value="Today">
              <select id="wellnesssport" name="sportsteam">
                <option disabled hidden selected>Select Sports Team</option>
                {% for x in wellnessSportsTeams %}
                <option>{{ x.sport }}</option>
                {% endfor %}
              </select>
            </div>
          </form>
          <div id="forms" class="forms"></div>

        </div>

        <!-- "Template" to be cloned for each wellness report card -->
        <div class="hide-template">
          <div id="base" class="report wellness-card">

            <div class="d-flex flex-column" style="justify-content: flex-end; height: 100%;">

              <div class="d-flex justify-content-between align-items-center bottom-margin">
                <h2 id="ath-name"></h2>
                <h4 id="ath-pos"></h4>
              </div>

              <div class="d-flex justify-content-between bottom-margin">
                <div style="width: 50%; margin-right: calc(var(--inner-padding)/2);">

                  <img class="bottom-margin-half" id="ath-img">

                  <div class="wellness-status-display bottom-margin-half" id="status-box">
                    <p id="status"></p>
                  </div>

                  <div class="wellness-status-display" id="readiness-box" style="border: 1px solid white;">
                    <p id="readiness"></p>
                  </div>

                </div>

                <div class="wellness-table" style="width: 50%; margin-left: calc(var(--inner-padding)/2);">
                  <div class="wellnessrows">
                    <h6>Hours of Sleep</h6>
                    <h6 id="Hoursofsleep"></h6>
                  </div>
                  <hr>
                  <div class="wellnessrows">
                    <h6>Sleep Quality</h6>
                    <h6 id="Sleepquality"></h6>
                  </div>
                  <hr>
                  <div class="wellnessrows">
                    <h6>Breakfast</h6>
                    <h6 id="Breakfast"></h6>
                  </div>
                  <hr>
                  <div class="wellnessrows">
                    <h6>Hydration</h6>
                    <h6 id="Hydration"></h6>
                  </div>
                  <hr>
                  <div class="wellnessrows">
                    <h6>Soreness</h6>
                    <h6 id="Soreness"></h6>
                  </div>
                  <hr>
                  <div class="wellnessrows">
                    <h6>Stress</h6>
                    <h6 id="Stress"></h6>
                  </div>
                  <hr>
                  <div class="wellnessrows">
                    <h6>Mood</h6>
                    <h6 id="Mood"></h6>
                  </div>
                </div>
              </div>
              <div style="margin-top: auto;">
                <div id="trend-display" class="bottom-margin-half">
                  <div class="bottom-margin-half">
                    <h4>Readiness Trend</h4>
                  </div>
                  <div class="trend-graph" id="trend-graph"></div>
                </div>
                <div style="text-align: right;">
                  <p id="date-recorded" style="opacity: 50%; font-style: italic;">No Data</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <script>

      // Get today's date as a string in the format "yyyy-mm-dd"
      var today = new Date().toISOString().substr(0, 10);

      // Set the value of the date input to today's date
      document.getElementById("wellnessdate").value = today;
      document.getElementById("wellnessdate").ariaValueMax = today;
      /* getCookie() function definition*/
      // Definition for "getCookie" function, which will return a cookie from the document matching the parameter "name".
      // This is a utility funciton utilized to send and AJAX request (see next code block)

      // Cookie is initialized to null
      // If there is are document cookies and they are NOT empty, the cookies in the document are fetched and placed in an array
      // This array is searched for a cookie that matches parameter "name"
      // If such a cookie is found, it is returned.
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + "=")) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }

        return cookieValue;
      }

      // control variables for display settings
      var show_fullname = true;
      var show_pos = true;
      var show_trends = true;

      // checks for a date or team change
      document.getElementById("wellnessdate").addEventListener("change", check_both_inputs);
      document.getElementById("wellnesssport").addEventListener("change", check_both_inputs);

      // checks for settings updates
      document.getElementById("i-show_fullname").addEventListener("change", update_name_display);
      document.getElementById("i-show_trends").addEventListener("change", update_trends_display);
      document.getElementById("i-show_pos").addEventListener("change", update_pos_display);

      // update athlete names by setting "show_fullname" to true or false depending on
      // user checkbox selection. upon change of a checkbox, submit another
      // ajax request to update the page
      function update_name_display() {
        if (document.getElementById("i-show_fullname").checked)
          show_fullname = true;
        else
          show_fullname = false;

        console.log(show_fullname);

        check_both_inputs();
      }

      // update trend graphs by setting "show_trends" to true or false depending on
      // user checkbox selection. upon change of a checkbox, submit another
      // ajax request to update the page
      function update_trends_display() {
        if (document.getElementById("i-show_trends").checked)
          show_trends = true;
        else
          show_trends = false;

        console.log(show_trends);

        check_both_inputs();
      }

      // update position by setting "show_pos" to true or false depending on
      // user checkbox selection. upon change of a checkbox, submit another
      // ajax request to update the page
      function update_pos_display() {
        if (document.getElementById("i-show_pos").checked)
          show_pos = true;
        else
          show_pos = false;

        console.log(show_pos);

        check_both_inputs();
      }

      //checks that both a team and a date are selected before submitting an ajax request
      function check_both_inputs() {
        if (document.getElementById("wellnessdate").value && document.getElementById("wellnesssport").value)
          wellness_ajax();
      }

      /* When the "#wellnessform" form is submitted, this function will send an AJAX request to fetch the new data. */
      function wellness_ajax() {
        // Get value of #sportsteam
        var date_selected = document.getElementById("wellnessdate").value
        var sport_selected = document.getElementById("wellnesssport").value

        //add loading circle
        $("#header").append("<div id=\"loading\" class=\"lds-dual-ring-small\"></div>");

        // Send "POST" AJAX request to url 'AthleteProf'
        // This request will be handled by the Django backend -> see views.py recordKPI() for that code
        $.ajax({
          //URL needs to be fname, lname, DOB for athletes
          url: "{% url 'WellnessDash' %}",
          type: "POST",
          dataType: "json",
          data: JSON.stringify({ wellnessdate: date_selected, sportsteam: sport_selected }),
          headers: {
            "X-Requested-With": "XMLHttpRequest",
            "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
          },
          success: (response) => {

            console.log(response);

            // hide how-to message and remove loading animation
            $("#how-to").hide();
            $("#loading").remove()

            //$("#header-text").innerText = "Wellness - " + sport_selected;

            // get "template" for card to be cloned for each athlete's wellness card
            const template = document.getElementById("base");

            //clear form
            document.getElementById("forms").innerHTML = "";

            // loop thru all athletes on specified team
            for (var key in response.athletes) {

              //declare athlete info
              var name = "", pos = "", pic = "", picURL = "";

              //declare athlete wellness info
              var hoursofsleep = 0, sleepquality = 0, breakfast = 0,
                hydration = 0, soreness = 0, stress = 0, mood = 0;
              var status = "None", total = 0, trend = "", trend_src = "", date = "";

              // get athlete name, position, and photo
              // only show last name unless "show_fullname" is true
              if (show_fullname)
                name = response.athletes[key].fname + " " + response.athletes[key].lname;
              else
                name = response.athletes[key].lname;

              pos = response.athletes[key].position;

              // get directory to athlete image
              picURL = response.athletes_img[key];

              // get individual values needed for wellness total and then sum them
              hoursofsleep = Number(response.wellness[key].hoursofsleep);
              sleepquality = Number(response.wellness[key].sleepquality);
              breakfast = Number(response.wellness[key].breakfast);
              hydration = Number(response.wellness[key].hydration);
              soreness = Number(response.wellness[key].soreness);
              stress = Number(response.wellness[key].stress);
              mood = Number(response.wellness[key].mood);

              total = hoursofsleep + sleepquality + breakfast +
                hydration + soreness + stress + mood;

              // get status
              status = response.wellness[key].status;

              // inject name, pos, and image into template
              template.querySelector("#ath-name").innerText = name;

              // show position if one exists, and if the option is checked
              if (pos && show_pos)
                template.querySelector("#ath-pos").innerText = pos;
              else
                template.querySelector("#ath-pos").innerText = " ";

              template.querySelector("#ath-img").setAttribute("src", picURL);

              // inject wellness stats into template
              template.querySelector("#Hoursofsleep").innerText = hoursofsleep;
              template.querySelector("#Sleepquality").innerText = sleepquality;
              template.querySelector("#Breakfast").innerText = breakfast;
              template.querySelector("#Hydration").innerText = hydration;
              template.querySelector("#Soreness").innerText = soreness;
              template.querySelector("#Stress").innerText = stress;
              template.querySelector("#Mood").innerText = mood;

              // inject the date of this wellness date into te plate
              date = response.wellness[key].date;
              if (date)
                template.querySelector("#date-recorded").innerText = date;
              else
                template.querySelector("#date-recorded").innerText = "No Date";


              // change color of "status" depending on if an athlete is "good" (in) or "out" (out, obviously...)
              if (status == "Out") {
                template.querySelector("#status").style.color = "black";
                template.querySelector("#status").innerText = "Out";
                template.querySelector("#status-box").style.backgroundColor = "var(--acc-color-neg)";
              }
              else if (status == "Good") {
                template.querySelector("#status").style.color = "black";
                template.querySelector("#status").innerText = "Good";
                template.querySelector("#status-box").style.backgroundColor = "var(--acc-color-pos)";
              }
              //if there is no status, set it to gray
              else {
                template.querySelector("#status").innerText = "None";
                template.querySelector("#status-box").style.backgroundColor = "var(--color-primary)";
              }

              template.querySelector("#readiness").innerText = "Readiness: " + total;

              // by default, do not show trend block
              template.querySelector("#trend-display").style.display = "none";

              // if the user would like to display trends...
              if (show_trends) {
                // make trends section visible (hidden if show_trends is false)
                template.querySelector("#trend-display").style.display = "block";

                // reset innerhtml and innertext of trend graph to avoid past
                // data interferring with new requests
                template.querySelector("#trend-graph").innerHTML = "";
                template.querySelector("#trend-graph").innerText = "";

                // get trend graph (will be null if there isn't one)
                trend = response.wellness_trends[key];

                if (trend)
                  template.querySelector("#trend-graph").innerHTML += "<img src=\"data:image/png;base64, " + trend + "\">";
                else
                  template.querySelector("#trend-graph").innerText = "No Trend Data";
              }

              // clone the template and add it to the list of forms
              document.getElementById("forms").append(template.cloneNode(true));
            }
          },
          error: (error) => {

            console.log(error);
            alert("Error processing Ajax Request");
          }
        })
      }
                      /* End of "#sportsteam" change function */
    </script>

  </main>

</body>

</html>