<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Header -->
  {% include 'html/header.html' %}
  <script src="/staticfiles/templates/js/wellness.js"></script>
</head>

<body>

  <!-- SideNavbar -->
  {% include 'html/sidenav.html' %}

  <main class="py-3 py-override">

    <p class="how-to-text" id="how-to">Select a Team & Date to Show Wellness</p>

    <div class="container" style="max-width: 1800px;">
      <div class="row">

        <div class="col-lg-12 col-padding col-inner-padding-l">
          <div class="main-header justify-content-between">
            <h1 id="header-text">Wellness</h1>

            <div class="d-flex align-items-center" style="gap: var(--inner-padding);">

              <a href="{% url 'wellnessForm' %}">
                <button class="spanning-button" style="margin-top: 0; padding: 10px 10px;">Record Wellness</button>
              </a>

              <i id="settings" class="fa-solid fa-gear"
                style="color: var(--acc-color-main); font-size: var(--icon-size); z-index: 2;"></i>

              <div id="options-card" class="options-card" style="display: none;">
                <div class="d-flex justify-content-between align-items-center">
                  <h4>Settings</h4>
                  <i class="fa-solid fa-xmark" style="font-size: var(--icon-size);"></i>
                </div>
                <ul>
                  <li>Show Full Name<input id="i-show_fullname" type="checkbox" checked="true"></li>
                  <li>Show Trend Graphs<input id="i-show_trends" type="checkbox" checked="true"></li>
                  <li>Show Positions<input id="i-show_pos" type="checkbox" checked="true"></li>
                </ul>
              </div>
            </div>
          </div>

          <form method="post" id="wellnessdisplayform">
            {% csrf_token %}
            <div id="header" class="d-flex" style="gap: var(--inner-padding);">
              <input type="date" class="form-control input-box" id="wellnessdate" name="wellnessdate" value="Today">
              <select id="wellnesssport" name="sportsteam">
                <option disabled hidden selected>Select Sports Team</option>
                {% for x in wellnessSportsTeams %}
                <option>{{ x.sport }}</option>
                {% endfor %}
              </select>
            </div>
          </form>
          <div id="forms" class="forms"></div>

        </div>

        <!-- "Template" to be cloned for each wellness report card -->
        <div class="hide-template">
          <div id="base" class="report wellness-card">

            <div class="d-flex flex-column" style="justify-content: flex-end; height: 100%;">

              <div class="d-flex justify-content-between align-items-center bottom-margin">
                <div class="d-flex">
                  <h2 class="ath-name" style="display: none;"></h2>
                  <h2 class="ath-full-name"></h2>
                </div>
                <h4 class="ath-pos"></h4>
              </div>

              <div class="d-flex justify-content-between bottom-margin">
                <div style="width: 50%; margin-right: calc(var(--inner-padding)/2);">

                  <img class="bottom-margin-half" id="ath-img">

                  <div class="wellness-status-display bottom-margin-half" id="status-box">
                    <p id="status"></p>
                  </div>

                  <div class="wellness-status-display" id="readiness-box" style="border: 1px solid white;">
                    <p id="readiness"></p>
                  </div>

                </div>

                <div class="wellness-table" style="width: 50%; margin-left: calc(var(--inner-padding)/2);">
                  <div class="wellnessrows">
                    <h6>Hours of Sleep</h6>
                    <h6 id="Hoursofsleep"></h6>
                  </div>
                  <hr>
                  <div class="wellnessrows">
                    <h6>Sleep Quality</h6>
                    <h6 id="Sleepquality"></h6>
                  </div>
                  <hr>
                  <div class="wellnessrows">
                    <h6>Breakfast</h6>
                    <h6 id="Breakfast"></h6>
                  </div>
                  <hr>
                  <div class="wellnessrows">
                    <h6>Hydration</h6>
                    <h6 id="Hydration"></h6>
                  </div>
                  <hr>
                  <div class="wellnessrows">
                    <h6>Soreness</h6>
                    <h6 id="Soreness"></h6>
                  </div>
                  <hr>
                  <div class="wellnessrows">
                    <h6>Stress</h6>
                    <h6 id="Stress"></h6>
                  </div>
                  <hr>
                  <div class="wellnessrows">
                    <h6>Mood</h6>
                    <h6 id="Mood"></h6>
                  </div>
                </div>
              </div>
              <div style="margin-top: auto;">
                <div class="trend-display">
                  <div class="bottom-margin-half d-flex justify-content-between">
                    <h4>Readiness Trend</h4>
                    <p id="date-recorded" style="opacity: 50%; font-style: italic;">No Data</p>
                  </div>
                  <div class="trend-graph"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <script>
      window.wellnessData = {
        url: "{% url 'WellnessDash' %}"
      }
    </script>

  </main>

</body>

</html>