.athlete-pic {
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    background-color: white;
    border-radius: var(--radius-big);
}

.tab-corner{
    border-top-left-radius: 0;
}

.basicreport {
    width: 100%;
    background-color: var(--color-secondary);
    border-radius: var(--radius-big);
    padding: var(--inner-padding);
    margin-bottom: var(--inner-padding);
}

.report-tab {
    background-color: var(--color-secondary);
    padding: 10px 25px;
    border: none;
    color: white;
    border-radius: var(--radius-big) var(--radius-big) 0 0;
    padding: 15px 25px;
}

.graphprof {
    height: fit-content;
    width: 100%;
    background-color: var(--color-secondary);
    border-radius: var(--radius-big);
    padding: var(--inner-padding);
    margin-bottom: var(--inner-padding);
    display: none;
}

.status {
    height: fit-content;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 10px;
    position: relative;
}

.wellness-status-display {
    border-radius: var(--radius-big);
    text-align: center;
    padding: 5px;
    vertical-align: middle;
}

.kpi-img img {
    height: auto;
    width: 100%;
}

.kpi-img p {
    margin-bottom: 0 !important;
}

/* Responsive spacing below 992px */
@media (max-width:992px) {

    /* Bootstrap's breakpoint for lg */
    .col-lg-5 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .col-lg-7 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

/* Responsive spacing above 992px */
@media (min-width:992px) {

    /* Bootstrap's breakpoint for lg */
    .col-lg-5 {
        padding: 1rem calc(var(--gutter)/2) 0 0;
        height: 100vh;
    }

    .col-lg-7 {
        padding: 1rem 0 0 calc(var(--gutter)/2);
        height: 100vh;
    }
}

.delbtn {
    transition: transform 0.3s;
    border-radius: var(--radius-small);
    border: none;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border: 1px solid #fc515100;
}
.delbtn:hover {
    border: 1px solid #FC5151;
    transform: (1.2);
}
