/* CSS Directory
    1. Recent Stylings
    2. Old Stylings
*/

/* 1. Recent Stylings
   ********************************** */

/* These some colors fr */
:root {
  --blue-accent: #99C7FF;
  --yellow-accent: #FFCE54;
  --med-gray-1: #31363D;
  --med-gray-2: #1F2126;
  --dark-gray: #101214;
  --separator-gray: #404245;
  --white-text: white;
  --black-text: black;
  --red-accent: #FC5151;
  --green-accent: #58E767;

  /* Layout affecting vars */
  --nav-width: 225px;
  --gutter: 2rem;   /* 32px */
  --inner-padding: 1.5rem /* Bootstrap Default */
}

/* Responsive layout variables */
@media screen and (max-width:768px) { /* Bootstrap's md breakpoint */
  :root {
    --nav-width: 60px;
    --gutter: 1rem;
  }
}

/* Main content area positioning */
main {
  /* Respond to the navbar's fixed width */
  width: calc(100vw - (var(--nav-width)) - var(--gutter)*2 ); /* Remainder of navbar and 2 gutters */
  margin-left: calc(var(--nav-width) + var(--gutter));        /* Sum of navbar and a gutter */
}

img {
  max-width: 100%;  /* Broadly apply to prevent overflow */
}

/* 2. Old Stylings
   ---------------------------------- */

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: var(--dark-gray);
  color: var(--white-text);
}

/* For titles on all pages */
h1 {
  font-size: 48;
  font-weight: 600;
}

/* For dates and graph titles */
h2 {
  font-size: 24;
  font-weight: 700;
}

/* For general content */
h3 {
  font-size: 24;
  font-weight: 600;
}

h4 {
  font-size: 20;
  font-weight: 400;
  margin-bottom: 0 !important;
}

hr {
  background: var(--separator-gray);
}

/* For tables */
td {
  font-size: 16;
  font-weight: 400;
}

.teams-table tr {
  height: 200px;
}

.table-customs {
  --bs-table-bg: var(--med-gray-1) !important;
  --bs-table-striped-bg: var(--med-gray-2) !important;
}

.table-customs th {
  background-color: var(--dark-gray);
}

.main-header {
  height: 60px;
  display: flex;
  align-items: center;
}

.admin {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  margin: auto;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--white-text);
}

.toggle {
  transition: transform 0.3s;
}

.toggle:hover {
  transform: scale(1.4);
}

/* Search bar */
.input-box{
  position: relative;
}

.input-box i {
  position: absolute;
  right: 13px;
  top:12px;
  color: var(--med-gray-1);
}

.form-control{
  height: 40px;
  background-color: var(--dark-gray);
  border-color: var(--med-gray-1);
  color: white;
  box-shadow: none;
  border-radius: 10px;
}

select {
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: var(--white-text);
}

.submit {
  background-color: var(--yellow-accent);
  border-radius: 10px;
  border: none;
  color: var(--black-text);
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.upload-img-frame {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='17' ry='17' stroke='%23333' stroke-width='8' stroke-dasharray='15' stroke-dashoffset='38' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 17px;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

input, textarea{
  color: #000000;
}
