/* CSS Directory
    1. Root Stylings
    2. Responsiveness
    3. Universal Element Modifications
    4. Athletes Table
    5. KPI Table
    6. Custom Layout Classes
    7. Custom Elements
    8. Animations
*/

/* 1. Root Stylings
   ********************************** */
/* These some colors fr */
:root {

  /* Color variables */
  --color-primary: hsl(223, 15%, 17%);
  --color-secondary: hsl(223, 15%, 13%);
  --color-tertiary: hsl(223, 15%, 9%);
  --color-bg: hsl(223, 12%, 6%);
  --color-separator: #404245;

  /* Light Theme */
  --white-bg: #F5F6FA;
  --light-gray-1: #DAE0ED;
  --light-gray-2: #BCC1CC;
  --light-gray-3: #BCC1CC;

  /* Dark Theme */
  --dark-bg: hsl(223, 12%, 6%);
  --med-gray-1: hsl(223, 15%, 17%);
  --med-gray-2:hsl(223, 15%, 13%);
  --med-gray-3: hsl(223, 15%, 9%);

  /* Text Colors */
  --white-text: white;
  --black-text: black;

  /* Accent Colors */
  --acc-color-neg: #FC5151;
  --acc-color-pos: #58E767;
  --acc-color-2: #99C7FF;
  --acc-color-main: hsl(46, 34%, 60%);

  /* Layout affecting vars */
  --nav-width: 225px;
  --gutter: 2rem;   /* 32px */
  --inner-padding: 1.5rem; /* Bootstrap Default */
  --radius-big: 10px;
  --radius-small: 5px;
  --icon-size: 25px;
  --icon-size-sm: 20px;
}

/* 2. Responsiveness
   **********************************
   For reference (CSS vars cant be used for mediaqueries):
   Medium (MD) breakpoint: 768
*/
@media screen and (max-width:768px) { /* Bootstrap's md breakpoint */
  :root {
    --nav-width: 60px;
    --gutter: 1rem;
  }
}

/* 3. Universal Element Modifications
   ********************************** */
main {
  /* Respond to the navbar's fixed width */
  width: calc(100vw - (var(--nav-width)) - var(--gutter)*2 ); /* Remainder of navbar and 2 gutters */
  margin-left: calc(var(--nav-width) + var(--gutter));        /* Sum of navbar and a gutter */
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none !important;
}

img {
  max-width: 100%;  /* Broadly apply to prevent overflow */
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: var(--color-bg);
  color: var(--white-text);
}

/* For titles on all pages */
h1 {
  font-size: 48;
  font-weight: 600;
}

/* For dates and graph titles */
h2 {
  font-size: 24;
  font-weight: 700;
}

/* For general content */
h3 {
  font-size: 24;
  font-weight: 600;
}

h4 {
  font-size: 20;
  font-weight: 400;
  margin-bottom: 0 !important;
}

hr {
  background: var(--color-separator);
}

td {
  font-size: 16;
  font-weight: 400;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--white-text);
}

input, textarea{
  color: var(--black-text);
}

select {
  background-color: inherit;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  color: var(--white-text);
}

/* Change color of calendar icon on input type=date to white */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* 4. Athletes Table
   ********************************** */
.table-customs {
  --bs-table-bg: var(--color-primary) !important;
  --bs-table-striped-bg: var(--color-secondary) !important;
  --bs-table-hover-bg: var(--acc-color-2) !important;
  --bs-table-border-color: var(--color-secondary) !important;
}

.table-customs th {
  background-color: var(--color-bg);
}

.table-customs tr:hover td{
  color: var(--black-text);
}

.table-customs tr:hover td a{
  color: var(--black-text);
}

.teams-table tr {
  height: 200px;
}

/* 5. KPI Table
   ********************************** */

/* Record KPI Table Header
  - Set empty height to height of element with content */
#data-table #theader 
{
  height: calc(1rem + 1rem * 1.5); /* Sum of vertical padding and (font-size * line height) */
}

.table-container {
  max-width: 100%;
  overflow-x: scroll;
}

/* 6. Custom Layout Classes
   ********************************** */

.main-header {
  padding-top: 10px;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
}

.py-override {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.col-padding {
  padding-top: 0 !important;
}

.col-inner-padding-r {
  padding-left: calc(var(--gutter)/2) !important;
}
.col-inner-padding-l {
  padding-right: calc(var(--gutter)/2) !important;
  padding-left: 0 !important;
}

/* 7. Custom Elements
   ********************************** */

.report {
  width: 100%;
  background-color: var(--color-secondary);
  border-radius: var(--radius-big);
  padding: var(--inner-padding);
}

.toggle {
  transition: transform 0.3s;
}

.toggle:hover {
  transform: scale(1.4);
}

/* Search bar */
.input-box{
  position: relative;
  max-width: 175px;
}

.input-box i {
  position: absolute;
  right: 13px;
  top:12px;
  color: var(--color-separator);
}

.form-control{
  height: 40px;
  background-color: var(--color-bg);
  border-color: var(--color-separator);
  color: var(--white-text);
  box-shadow: none;
  border-radius: var(--radius-big);
}

.submit {
  background-color: var(--acc-color-main);
  border-radius: 10px;
  border: none;
  color: var(--black-text);
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.spanning-button {
  background-color: var(--acc-color-main);
  color: var(--black-text);
  border-radius: var(--radius-small);
  border: none;
  width: 100%;
  align-self: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.upload-img-frame {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='17' ry='17' stroke='%23333' stroke-width='8' stroke-dasharray='15' stroke-dashoffset='38' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 17px;
  background-color: var(--dark-gray);
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.delkpibtn {
  transition: transform 0.3s;
  border: none;
  align-self: center;
  color: var(--white-text)
}

.delkpibtn:hover {
  color: var(--acc-color-neg);
  transform: (1.2);
}

.pen {
  transition: transform 0.3s;
  border: none;
  align-self: center;
  color: var(--white-text)
}

.pen:hover {
  color: var( --acc-color-main);
  transform: (1.2);
}

.how-to-text {
  position: fixed;
  top: 50%;
  left: calc(50% + calc(var(--nav-width)/2)); 
  transform: translate(-50%, -50%);
}

.options-card {
  background-color: var(--color-secondary);
  border-radius: var(--radius-big);
  padding: var(--inner-padding);
  position: fixed; 
  top: calc(var(--gutter) - 15px); 
  right: calc(var(--gutter) - 15px); 
  z-index: 3;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.options-card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 40px;
}

.options-card li {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

/* 8. Animations
   ********************************** */

/* Loading Circle */
.lds-dual-ring {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--acc-color-2) transparent var(--acc-color-2) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

/* Loading Circle Small  */
.lds-dual-ring-small {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.lds-dual-ring-small:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--acc-color-2) transparent var(--acc-color-2) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.recentViewedLink{
  transition: transform 0.3s;
  color: white;
}

.recentViewedLink:hover{
  color: var(--acc-color-main);
  transform: (1.2);
}

.fa-gear{
  cursor: pointer;
}

.btn-outline-theme {
  --bs-btn-color: hsl(0, 0%, 100%);
  --bs-btn-border-color: hsl(46, 34%, 60%);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: hsl(46, 34%, 60%);
  --bs-btn-hover-border-color: hsl(46, 34%, 60%);
 /* --bs-btn-focus-shadow-rgb: 13, 15, 17; */
  --bs-btn-active-color: #000000; 
  --bs-btn-active-bg: hsl(46, 34%, 60%);
  --bs-btn-active-border-color: hsl(46, 34%, 60%);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(56, 53, 53, 0.83);
  --bs-btn-disabled-color: hsl(46, 34%, 60%);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: hsl(46, 34%, 60%);
  --bs-gradient: none;
}

.btn-outline-theme:hover i{
  color: #000000;
}

.radiotest[type="radio"]:checked+label i{
  color: #000000;
}

