/* CSS Directory
    1. Recent Stylings
    2. Old Stylings
*/

/* 1. Recent Stylings
   ********************************** */

/* These some colors fr */
:root {

  /* Dark Theme */
  --med-gray-1: #31363D;
  --med-gray-2: #1F2126;
  --dark-gray: #101214;
  --separator-gray: #404245;

  /* Light Theme */
  --white-bg: #F5F6FA;
  --light-gray-1: #DAE0ED;
  --light-gray-2: #BCC1CC;

  /* Text Colors */
  --white-text: white;
  --black-text: black;

  /* Accent Colors */
  --red-accent: #FC5151;
  --green-accent: #58E767;
  --blue-accent: #99C7FF;
  --dark-blue-accent: #587598;
  --yellow-accent: #FFCE54;

  /* Layout affecting vars */
  --nav-width: 225px;
  --gutter: 2rem;   /* 32px */
  --inner-padding: 1.5rem; /* Bootstrap Default */
  --radius-big: 10px;
  --radius-small: 5px;
  --icon-size: 25px;
}

/* Responsive layout variables */
@media screen and (max-width:768px) { /* Bootstrap's md breakpoint */
  :root {
    --nav-width: 60px;
    --gutter: 1rem;
  }
}

/* Universal Element Modifications */

main {
  /* Respond to the navbar's fixed width */
  width: calc(100vw - (var(--nav-width)) - var(--gutter)*2 ); /* Remainder of navbar and 2 gutters */
  margin-left: calc(var(--nav-width) + var(--gutter));        /* Sum of navbar and a gutter */
}

img {
  max-width: 100%;  /* Broadly apply to prevent overflow */
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: var(--dark-gray);
  color: var(--white-text);
}

/* For titles on all pages */
h1 {
  font-size: 48;
  font-weight: 600;
}

/* For dates and graph titles */
h2 {
  font-size: 24;
  font-weight: 700;
}

/* For general content */
h3 {
  font-size: 24;
  font-weight: 600;
}

h4 {
  font-size: 20;
  font-weight: 400;
  margin-bottom: 0 !important;
}

hr {
  background: var(--separator-gray);
}

td {
  font-size: 16;
  font-weight: 400;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--white-text);
}

select {
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: var(--white-text);
}

input, textarea{
  color: #000000;
}

/* Change color of calendar icon on input type=date to white */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Athletes Table */
.table-customs {
  --bs-table-bg: var(--med-gray-1) !important;
  --bs-table-striped-bg: var(--med-gray-2) !important;
  --bs-table-hover-bg: var(--blue-accent) !important;
}

.table-customs th {
  background-color: var(--dark-gray);
}

.table-customs tr:hover td{
  color:black;
}

.table-customs tr:hover td a{
  color:black;
}

.teams-table tr {
  height: 200px;
}

/* Custom Layout Classes */

.main-header {
  height: 60px;
  display: flex;
  align-items: center;
}

.py-override {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Custom Elements */

.report {
  width: 100%;
  background-color: var(--med-gray-2);
  border-radius: var(--radius-big);
  padding: var(--inner-padding);
}

.toggle {
  transition: transform 0.3s;
}

.toggle:hover {
  transform: scale(1.4);
}

/* Search bar */
.input-box{
  position: relative;
  max-width: 175px;
}

.input-box i {
  position: absolute;
  right: 13px;
  top:12px;
  color: var(--med-gray-1);
}

.form-control{
  height: 40px;
  background-color: var(--dark-gray);
  border-color: var(--med-gray-1);
  color: white;
  box-shadow: none;
  border-radius: var(--radius-big);
}

select {
  background-color: var(--dark-gray);
  border-radius: 10px;
  border: none;
  font-family: inherit;
  color: var(--white-text);
}

.submit {
  background-color: var(--yellow-accent);
  border-radius: 10px;
  border: none;
  color: var(--black-text);
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.upload-img-frame {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='17' ry='17' stroke='%23333' stroke-width='8' stroke-dasharray='15' stroke-dashoffset='38' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 17px;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

/* Animations */

/* Loading Circle */
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--blue-accent) transparent var(--blue-accent) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Loading Circle Small  */
.lds-dual-ring-small {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.lds-dual-ring-small:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--blue-accent) transparent var(--blue-accent) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}
