:root {
  --nav-padding: var(--gutter);  /* Equivalent to Bootstrap's px-5 */
}

/* Responsive spacing */
@media screen and (max-width:768px) { /* Bootstrap's breakpoint for md */
  :root {
    --nav-padding: 0;
  }
}

nav {
  width: var(--nav-width);
  padding-left: var(--nav-padding);   /* No shorthand since we're using Bootstrap for the y-axis */
  padding-right: var(--nav-padding);
  font-size: 20;
}
  
/* Old stylings kept for WIP references */
  /*
  .side-nav {
    width: 225px;
    height: 100vh;
    background-color: #1F2126;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: white;
    position: fixed;
    display: block;
    padding: 0;
  }

  .side-nav a {
    text-decoration: none;
    color: white;
  }

  .side-nav i {
    width: 18px;
    font-size: 20px;
  }

  .nav-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-pfp {
    width: 40px;
    padding-right: 20px;
  }

  .nav-footer {
    font-size: 10px;
    margin-bottom: 20px;
    bottom: 0;
    position: absolute;
    text-align: center;
    
  }

  .nav-links {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
  }

  .nav-list-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav-list-item:hover{
    opacity: 70%;
    transition: 400ms;
  }
  */