:root {
  --nav-padding: var(--gutter);  /* Equivalent to Bootstrap's px-5 */
}

/* Responsive spacing */
@media screen and (max-width:768px) { /* Bootstrap's breakpoint for md */
  :root {
    --nav-padding: 0;
  }

  /* Adjust username and initials icon */
  .username {
    display: none;
  }
  .user-display {
    padding-left: 10px !important;
  }
}

/* Set width of nav and font size */
nav {
  width: var(--nav-width);
  font-size: 20;
}

/* Override default nav-pill color to our accent color */
.nav-pills {
  --bs-nav-link-hover-color: #99C7FF !important;
}

/* Separate from the user nav header */
.nav-container {
  padding-left: var(--nav-padding);  
  padding-right: var(--nav-padding);
}

/* Circle containing user initials */
.user-initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--yellow-accent);
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-display{
  gap: var(--inner-padding); 
  padding-left: var(--gutter); 
  padding-right: var(--inner-padding);
}
  
/* Old stylings kept for WIP references */
  /*
  .side-nav {
    width: 225px;
    height: 100vh;
    background-color: #1F2126;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: white;
    position: fixed;
    display: block;
    padding: 0;
  }

  .side-nav a {
    text-decoration: none;
    color: white;
  }

  .side-nav i {
    width: 18px;
    font-size: 20px;
  }

  .nav-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-pfp {
    width: 40px;
    padding-right: 20px;
  }

  .nav-footer {
    font-size: 10px;
    margin-bottom: 20px;
    bottom: 0;
    position: absolute;
    text-align: center;
    
  }

  .nav-links {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
  }

  .nav-list-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav-list-item:hover{
    opacity: 70%;
    transition: 400ms;
  }
  */