#test-search {
    background-image: url('https://fontawesome.com/icons/magnifying-glass?f=classic&s=solid');
    background-color: var(--color-bg);
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Add some padding */
    border: 2px solid var(--color-primary);
    border-radius: var(--radius-big);
    /* Add a grey border */
    margin-bottom: var(--inner-padding);
    /* Add some space below the input */

    color: var(--white-text);
}

#test-list {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#test-list input {
    width: 25px;
    border: 2px solid var(--acc-color-main);
    background-color: var(--color-primary);
}

#test-list a {
    width: 80%;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: var(--acc-color-main);
}

#test-list div {
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    /* Grey background color */
    /*padding: 0 var(--inner-padding) 0 var(--inner-padding);*/
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: var(--white-text);
    /* Add a black text color */
    display: flex;
    justify-content: space-between;
    gap: var(--inner-padding);
}

.data-table {
    margin: var(--gutter) 0;
    overflow-x: scroll;
}

.data-table tr:not(:first-child) {
    border-top: 1px solid var(--white-text);
}

.data-table td {
    border-top: 1px solid var(--white-text);
    border-right: 1px solid var(--white-text);
    padding: 10px;
}

.data-table th {
    border-right: 1px solid var(--white-text);
    text-align: center;
    padding-left: var(--inner-padding);
    padding-right: var(--inner-padding);
    max-width: 160px;
    min-width: 130px;
}

.data-table th:last-child,
.data-table tr:last-child,
.data-table td:last-child {
  border-right: none;
}
