/* AFFECTS ALL PAGES */
html * {
  font-family: 'Titillium Web', sans-serif;
  color: var(--white-text);
}

/* These some colors fr */
:root {
  --blue-accent: #99C7FF;
  --yellow-accent: #FFCE54;
  --med-gray-1: #31363D;
  --med-gray-2: #1F2126;
  --dark-gray: #101214;
  --separator-gray: #404245;
  --white-text: white;
  --black-text: black;
  --red-accent: #FC5151;
  --green-accent: #58E767;
}

body {
  background-color: var(--dark-gray);
  color: var(--white-text);
}

/* For titles on all pages */
h1 {
  font-size: 48;
  font-weight: 600;
}

/* For dates and graph titles */
h2 {
  font-size: 24;
  font-weight: 700;
}

/* For general content */
h3 {
  font-size: 24;
  font-weight: 600;
}

h4 {
  font-size: 20;
  font-weight: 400;
  margin-bottom: 0 !important;
}

hr {
  background: var(--separator-gray);
}

/* For tables */
td {
  font-size: 16;
  font-weight: 400;
}

.teams-table tr {
  height: 200px;
}

.table-customs {
  --bs-table-bg: var(--med-gray-1) !important;
  --bs-table-striped-bg: var(--med-gray-2) !important;
}

.table-customs th {
  background-color: var(--dark-gray);
}

.main-container {
  margin-left: 225px;
  padding: 20px 40px 0 40px;
  display: block;
}

.main-header {
  height: 60px;
  display: flex;
  align-items: center;
}

.admin {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  margin: auto;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--white-text);
}

.toggle {
  transition: transform 0.3s;
}

.toggle:hover {
  transform: scale(1.4);
}

.line-1 {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 1px;
  background: var(--separator-gray);
}

.line-2 {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 1px;
  background: var(--separator-gray);
}

/* Search bar */
.input-box{
  position: relative;
}

.input-box i {
  position: absolute;
  right: 13px;
  top:12px;
  color: var(--med-gray-1);
}

.form-control{
  height: 40px;
  background-color: var(--dark-gray);
  border-color: var(--med-gray-1);
  color: white;
  box-shadow: none;
  border-radius: 10px;
}

/* Athlete Individual */

.athlete-pic {
  width: auto;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  background-color: white;
  border-radius: 10px;
}

.kpireport {
  width: 100%;
  background-color: var(--med-gray-2);
  border-radius: 10px;
  padding: 25px;
  margin-top: 25px;
}

.graphprof {
  height: fit-content;
  width: 100%;
  background-color: var(--med-gray-2);
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 25px;
}

.status {
  height: fit-content;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 10px;
  position: relative;
}

.wellnessrows {
  display: flex;
  justify-content: space-between;
}

.wellness-status-display{
  border-radius: 5px; 
  border-width: 1px;
  text-align: center; 
  padding: 5px; 
  vertical-align: middle;
}

.kpidatabtn {
  background-color: var(--yellow-accent);
  color: black;
  border-radius: 5px;
  border: none;
  width: 100%;
  align-self: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.kpi-img img {
  height: auto;
  width: 100%;
}

select {
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: var(--white-text);
}

.submit {
  background-color: var(--yellow-accent);
  border-radius: 10px;
  border: none;
  color: var(--black-text);
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.testing {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='17' ry='17' stroke='%23333' stroke-width='8' stroke-dasharray='15' stroke-dashoffset='38' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 17px;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

input, textarea{
  color: #000000;
}
