/* AFFECTS ALL PAGES */
html * {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  /*src: url(https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap);*/
}

:root{
  --blue-accent: #99C7FF;
  --yellow-accent: #FFCE54;
  --med-gray-1: #31363D;
  --med-gray-2: #1F2126;
  --dark-gray: #101214;
}

body {
  background-color: var(--dark-gray);
  color: white;
}

/* For titles on all pages */
h1{
  font-size: 48; 
  font-weight: 600;
}

/* For dates and graph titles */
h2{
  font-size: 24;
  font-weight: 700;
}

/* For general content */
h3{
  font-size: 20;
  font-weight: 400;
}

/* For tables */
td{
  font-size: 16;
  font-weight: 400;
}

.table-customs {
  --bs-table-bg: var(--med-gray-1) !important;
  --bs-table-striped-bg: var(--med-gray-2) !important;
}

.table-customs th {
  background-color: var(--dark-gray);
}

.main-container {
  margin-left: 200px; 
  padding: 30px 30px 0 30px;
  display: block;
}

.main-header{
  height: 60px;
  display: flex; 
  align-items: center;
  margin-bottom: 10px;
}

.admin {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  margin: auto;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

.searchbar {
  height: 30px;
  width: 35%;
  align-self: center;
  border-radius: 7px;
  border: white 2px solid;
  background-color: #171C27;
}

input[type=text] {
  background-color: #171C27;
  color: white;
  padding: 2px 4px 2px 4px;
}

input::placeholder {
  color: white;
  padding: 3px;
}

.toggle {
  transition: transform 0.3s;
}

.toggle:hover {
  transform: scale(1.4);
}

.line-1 {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 1px;
  background: #404245;
}

.line-2 {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 1px;
  background: #404245;
}

/* Athlete Individual */

.athlete-pic {
  width: 200px;
  background-color: white;
  border-radius: 10px;
}

.kpireport {
  width: 100%;
  background-color: var(--med-gray-2);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.graphprof {
  height: fit-content;
  width: 100%;
  background-color: var(--med-gray-2);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.status {
  height: fit-content;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 10px;
  position: relative;
}

.wellnessrows {
  display: flex;
  justify-content: space-between;
}

.kpidatabtn {
  background-color: #F2CD49;
  color: black;
  border-radius: 5px;
  border: none;
  width: 100%;
  align-self: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

select {
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: white;
}

.submit {
  background-color: #F2CD49;
  border-radius: 5px;
  border: none;
  align-self: center;
  color: black;
}

.testing{
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='17' ry='17' stroke='%23333' stroke-width='8' stroke-dasharray='15' stroke-dashoffset='38' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 17px;
  height: 150px;
  width:150px;
  cursor: pointer;
}