.wellnessrows {
    display: flex;
    justify-content: space-between;
}

.wellness-table hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.wellness-card {
    min-width: 375px;
}

.forms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--inner-padding);
    margin-top: var(--inner-padding);
}

.forms img {
    border-radius: var(--radius-big);
}

.hide-template {
    display: none;
}

.trend-graph {
    background-color: var(--color-bg);
    width: 100%;
    height: 100px;
    border-radius: var(--radius-big);
    padding: 5px 0 5px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.trend-graph img {
    width: 100%;
    height: 100%;
}

h2 {
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

.bottom-margin {
    margin-bottom: var(--inner-padding);
}

.bottom-margin-half {
    margin-bottom: calc(var(--inner-padding)/2);
}

@media screen and (max-width:1450px) {
    .forms{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--inner-padding);
    }
}

@media screen and (max-width:1050px) {
    .forms{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: var(--inner-padding);
    }
}