
.formBox{
  background-color: var(--med-gray-2);
  padding: 10px 25px;
  border: none;
  color: white;
  border-radius: var(--radius-big) var(--radius-big);
  padding: 15px 25px;
  margin: 25px;

  max-width: 100%;

}

select{
  font-size: 18pt;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 50px;
}

input[type="date"] {
  color: #fff;
  text-align: center;
  font-size: 18pt;
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 50px;
}

.submit{
  height: 50px;
  width: 100%;
}

.inlineRadio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  border: var(--acc-color-main) 1px solid;
  border-radius: var(--radius-big) var(--radius-big);

}

.inlineRadio input {

  color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	transition: all 100ms linear;
  border-radius: var(--radius-big) var(--radius-big);
  font-size: 18pt;
  width: calc(33.33%);
  padding: 10px;


}

#breakfast1{
  width: calc(50%);
}

#breakfast3{
  width: calc(50%);
}

#status1{
  width: calc(50%);
}

#status1:checked{
  background: var(--acc-color-pos);
}

#status2{
  width: calc(50%);
}

#status2:checked{
  background: var(--acc-color-neg);
}


.inlineRadio input:checked {
	background-color: var(--acc-color-main);
  color: var(--black-text);
}

.inlineRadio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

h2{
  text-align: center;
  margin-bottom: 10px;
}
